{% extends 'formulaires/layouts/base.html' %}

{% block Base %}
{% load static %}
<form method="post" action="update_profile" enctype="multipart/form-data" class="enterprise-form">
    {% csrf_token %}

    <h2>Mettre à jours votre photo de profil</h2>

    <div class="form-group">
        <label for="image"><i class="fa fa-image"></i> Image</label>
        <input type="file" id="image" name="image" accept="image/*" multiple>
        <div class="image-preview" id="imagePreview">
            {% if CustomUser.profile_image and CustomUser.profile_image.url %}
                <img src="{{ CustomUser.profile_image.url}}" class="enligne">
            {% else %}
                <img src="{% static 'assets/default/user.png' %}" class="enligne">
            {% endif %}
        </div>
    </div>

    <button type="submit"> Mettre à jours </button>
</form>
{% endblock %}
