{% extends 'formulaires/layouts/base.html' %}

{% block Base %}
{% load static %}
<form method="post" action="{% url 'update_post' id=post.id %}" enctype="multipart/form-data" id="mediaForm" class="enterprise-form">
    {% csrf_token %}

    <h2>Mettre à jours votre poste</h2>

    <div class="row">
            <!-- Champ Image -->
        <div class="form-group">
            <label for="image"><i class="fa fa-image"></i> Image</label>
            <input type="file" id="image" name="image" accept="image/*" multiple>
            <div class="image-preview" id="imagePreview">
                {% for media in post.mediaspost_set.all %}
                    {% if media.image %}
                        <img src="{{ media.image.url }}">
                        {% else %}
                        <p>Aucune image disponible</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- Champ Vidéo -->
        <div class="form-group">
            <label for="video"><i class="fa fa-video-camera"></i> Vidéo</label>
            <input type="file" id="video" name="video" accept="video/*">
            <div class="video-preview" id="videoPreview">
                {% if post.video %}
                    <video src="{{ post.video.url }}"></video>
                    {% else %}
                    <p>Aucune vidéo disponible</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="tag_post"><i class="fa fa-tag"></i> Tags</label>
        <input type="text" id="tag_post" name="tag_post" value="{{ post.tag_post }}" placeholder="Entrez des tags séparés par des virgules">
    </div>

    <!-- Contenu du post avec CKEditor -->
    <div class="form-group">
        <label for="contenu_post"><i class="fa fa-pencil"></i> Contenu du Post</label>
        <textarea id="contenu_post" name="contenu_post">{{ post.contenu_post }}</textarea>
    </div>

    <script src="{% static 'assets/ckeditor/ckeditor.js' %}"></script>
    <script>
        CKEDITOR.replace("contenu_post");
    </script>

    <button type="submit"> Mettre à jours </button>

</form>
{% endblock %}
