{% extends 'formulaires/layouts/base.html' %}

{% block Base %}
{% load static %}
<form method="post" action="update_description_boutique" enctype="multipart/form-data" class="enterprise-form">
    {% csrf_token %}

    <h2>Mettre à jours votre Description</h2>

    <div class="form-group">
        <label for="description"><i class="fa fa-pencil"></i> Description</label>
        <textarea id="description" name="description"></textarea>
    </div>

    <script src="{% static 'assets/ckeditor/ckeditor.js' %}"></script>
    <script>
        CKEDITOR.replace("description");
    </script>

    <button type="submit"> Mettre à jours </button>
</form>
{% endblock %}