{% extends 'formulaires/layouts/base.html' %}

{% block Base %}
{% load static %}
<form method="post" action="update_description_boutique" enctype="multipart/form-data">
    {% csrf_token %}

    <header>
        <a href="#" id="boutonRetour">
            <i class="fa fa-arrow-left arrow"></i>
        </a>
        Mettre à jours votre description
    </header>

    <textarea name="description" id="description" cols="30" rows="10" class="texta" required></textarea>

    <script src="{% static 'assets/ckeditor/ckeditor.js' %}"></script>
    <script>
        CKEDITOR.replace("description");
    </script>

    <div>
        <button type="submit"> Mettre à jours </button>
    </div>
</form>
{% endblock %}
