{% extends 'pages/layouts/app.html' %}

{% block app %}
{% load static %}

    <section class="center perturbateur">
        <section>
            <form action="" class="search">
                <div class="form-group">
                    <input type="search" name="job" id="search-input" placeholder="Rechercher une annonce"/>
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
            
        </section>
        
        <section class="slider pubPolitique">
            <div class="sliderP">
                <a href="#">
                    <img src="{% static 'assets/default/banner.png' %}">
                </a>
            </div>
        
            <div class="sliderP">
                <a href="#">
                    <img src="{% static 'assets/default/banner3.jpeg' %}">
                </a>
            </div>
        
            <div class="sliderP">
                <a href="#">
                    <img src="{% static 'assets/default/banner4.jpeg' %}">
                </a>
            </div>
        
            <div class="sliderP">
                <a href="#">
                    <img src="{% static 'assets/default/banner5.jpg' %}">
                </a>
            </div>
        
            <div class="lines PageLines">
                <div class="line_P" onclick="currentSlideP(1)"></div>
        
                <div class="line_P" onclick="currentSlideP(2)"></div>
        
                <div class="line_P" onclick="currentSlide(3)"></div>
        
                <div class="line_P" onclick="currentSlide(4)"></div>
            </div>
        </section>

        <div class="puble">
            {% include 'PUB/partenaire.html' %}
        </div>

        <section class="annonces">
            <a href="#" class="annonce-card">
                <img src="{% static 'assets/default/user.png' %}">

                <div class="content">
                    <div class="profil">
                        <img src="{% static 'assets/default/user.png' %}" alt="">
                        <h2>Oumar Thioubou</h2>
                        <span>Entreprise</span>
                    </div>

                    <div class="description">
                        <p>
                            Lorem ipsum dolor sit amet consectetur...
                        </p>
                    </div>

                    <div class="impression">
                        <h2> <i class="fa fa-star primary"></i> 90.5% <span>(236)</span></h2>
                    </div>

                    <div class="from">
                        <h1>Du Sénégal, <span>10 000 FCFA </span></h1>
                    </div>

                    <div class="service">
                        <i class="fa fa-briefcase"></i>
                        <h4>Marketing Digital</h4>
                    </div>
                </div>
            </a>

            <a href="#" class="annonce-card">
                <img src="{% static 'assets/default/user.png' %}">

                <div class="content">
                    <div class="profil">
                        <img src="{% static 'assets/default/user.png' %}" alt="">
                        <h2>Oumar Thioubou</h2>
                        <span>Entreprise</span>
                    </div>

                    <div class="description">
                        <p>
                            Lorem ipsum dolor sit amet consectetur...
                        </p>
                    </div>

                    <div class="impression">
                        <h2> <i class="fa fa-star primary"></i> 90.5% <span>(236)</span></h2>
                    </div>

                    <div class="from">
                        <h1>Du Sénégal, <span>10 000 FCFA </span></h1>
                    </div>

                    <div class="service">
                        <i class="fa fa-briefcase"></i>
                        <h4>Marketing Digital</h4>
                    </div>
                </div>
            </a>
        </section>


        {% include 'pages/common/sidebar.html' %}
    </section>
{% endblock %}