{% extends 'pages/layouts/app.html' %}

{% block app %}
{% load static %}

    <section class="center perturbateur">
        <section>
            <form action="" class="search except">
                <div class="form-group">
                    <input type="search" name="job" id="search-input" placeholder="Rechercher une annonce"/>
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
            
        </section>
        
        <section class="slider pubPolitique">
            <div class="sliderP">
                <a href="#">
                    <img src="{% static 'assets/default/banner.png' %}">
                </a>
            </div>
        
            <div class="sliderP">
                <a href="#">
                    <img src="{% static 'assets/default/banner3.jpeg' %}">
                </a>
            </div>
        
            <div class="sliderP">
                <a href="#">
                    <img src="{% static 'assets/default/banner4.jpeg' %}">
                </a>
            </div>
        
            <div class="sliderP">
                <a href="#">
                    <img src="{% static 'assets/default/banner5.jpg' %}">
                </a>
            </div>
        
            <div class="lines PageLines">
                <div class="line_P" onclick="currentSlideP(1)"></div>
        
                <div class="line_P" onclick="currentSlideP(2)"></div>
        
                <div class="line_P" onclick="currentSlide(3)"></div>
        
                <div class="line_P" onclick="currentSlide(4)"></div>
            </div>
        </section>

        <div class="puble">
            {% include 'PUB/partenaire.html' %}
        </div>

        <section class="annonces">
            {% for annonce in annonces %}
                <a href="{% url 'annonce_detail' annonce_id=annonce.id %}" class="annonce-card">
                    {% if annonce.image and annonce.image.url %}
                            <img src="{{ annonce.image.url }}">
                        {% else %}
                            <img src="{% static 'assets/default/user.png' %}">
                    {% endif %}

                    <div class="content">
                        <div class="profil">
                            {% if annonce.user.profile_image and annonce.user.profile_image.url %}
                                <img src="{{ annonce.user.profile_image.url }}">
                                {% else %}
                                    <img src="{% static 'assets/default/user.png' %}">
                            {% endif %}
                            <h2>{{ annonce.user.first_name }} {{ annonce.user.last_name }}</h2>
                            <span>{{ annonce.user.rôle|upper }}</span>
                        </div>

                        <div class="description">
                            <p>
                                {{ annonce.contenu_text|safe|truncatewords_html:10 }}
                            </p>
                        </div>

                        <div class="impression">
                            <h2> <i class="fa fa-star primary"></i> 90.5% <span>(236)</span></h2>
                        </div>

                        <div class="from">
                            <h1>Du {{ annonce.user.pays }}, <span>{{ annonce.prix }} FCFA </span></h1>
                        </div>

                        <div class="service">
                            <i class="fa fa-briefcase"></i>
                            <h4>{{ annonce.service }}</h4>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </section>


        {% include 'pages/common/sidebar.html' %}
    </section>
{% endblock %}