{% extends 'pages/layouts/app.html' %}

{% block app %}
{% load static %}

    <section class="banner">
        <a href="#" class="slider-boutique">
            <img src="{% static 'assets/default/banner.png' %}">
        </a>

        <a href="#" class="slider-boutique">
            <img src="{% static 'assets/default/banner3.jpeg' %}">
        </a>

        <a href="#" class="slider-boutique">
            <img src="{% static 'assets/default/banner4.jpeg' %}">
        </a>

        <a href="#" class="slider-boutique">
            <img src="{% static 'assets/default/banner5.jpg' %}">
        </a>


        <div class="lines-boutique PageLinesBoutique">
            <div class="line-boutique" onclick="currentSlideP(1)"></div>
    
            <div class="line-boutique" onclick="currentSlideP(2)"></div>
    
            <div class="line-boutique" onclick="currentSlide(3)"></div>
    
            <div class="line-boutique" onclick="currentSlide(4)"></div>
        </div>
    </section>

    <section class="boutique">

        {% if produits_recents %}

            <h1 class="title-categorie">Produits récents </h1>

            <div class="products-grid">
            
                {% for produit in produits_recents %}
                    <div class="product-card">
                        <div class="img-product">
                            <img src="{{ produit.mediasproduct_set.first.image.url }}">
                            <ul class="action">
                                <li> 
                                    <a href="{% url 'product_detail' produit.id %}">
                                        <i class="fa fa-eye"></i>
                                        <span>Consulter le Produit</span>
                                    </a>
                                </li>
                                <li> 
                                    <a href="#">
                                        <i class="fa fa-list-alt"></i>
                                        <span>Ajouter à votre Facture</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> 
                                        <i class="fa fa-star"></i>
                                        <span>Donner une étoile</span>
                                    </a> 
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="product-name">
                                <h3>{{ produit.nom_produit }}</h3>
                            </div>
                            <div class="product-price_rating">
                                <h2>{{ produit.prix }} {{ produit.boutique.devise_money }}</h2>
                                <div class="rating">
                                    <h3>1 000 <i class="fa fa-star"></i></h3>
                                </div>
                            </div>
                            <a href="{% url 'product_detail' produit.id %}" class="link-product">
                                <b>
                                    Consulter
                                </b>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

        {% endif %}

        {% include 'PUB/partenaire.html' %}

        {% if special_offers %}

            <h1 class="title-categorie">Offres spéciales / Promotions <a href="#">Voir Plus!</a> </h1>

            <div class="products-grid">
            
                {% for produit in special_offers %}
                    <div class="product-card">
                        <div class="img-product">
                            <img src="{{ produit.mediasproduct_set.first.image.url }}">
                            <ul class="action">
                                <li> 
                                    <a href="{% url 'product_detail' produit.id %}">
                                        <i class="fa fa-eye"></i>
                                        <span>Consulter le Produit</span>
                                    </a>
                                </li>
                                <li> 
                                    <a href="#">
                                        <i class="fa fa-list-alt"></i>
                                        <span>Ajouter à votre Facture</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> 
                                        <i class="fa fa-star"></i>
                                        <span>Donner une étoile</span>
                                    </a> 
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="product-name">
                                <h3>{{ produit.nom_produit }}</h3>
                            </div>
                            <div class="product-price_rating">
                                <h2>{{ produit.prix }} {{ produit.boutique.devise_money }}</h2>
                                <div class="rating">
                                    <h3>1 000 <i class="fa fa-star"></i></h3>
                                </div>
                            </div>
                            <a href="{% url 'product_detail' produit.id %}" class="link-product">
                                <b>
                                    Consulter
                                </b>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>

        {% endif %}

        {% include 'PUB/sponsor.html' %}

        {% if electronic %}

            <h1 class="title-categorie"> Electroniques <a href="#">Voir Plus!</a> </h1>

            <div class="products-grid">
            
                {% for produit in electronic %}
                    <div class="product-card">
                        <div class="img-product">
                            <img src="{{ produit.mediasproduct_set.first.image.url }}">
                            <ul class="action">
                                <li> 
                                    <a href="{% url 'product_detail' produit.id %}">
                                        <i class="fa fa-eye"></i>
                                        <span>Consulter le Produit</span>
                                    </a>
                                </li>
                                <li> 
                                    <a href="#">
                                        <i class="fa fa-list-alt"></i>
                                        <span>Ajouter à votre Facture</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> 
                                        <i class="fa fa-star"></i>
                                        <span>Donner une étoile</span>
                                    </a> 
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="product-name">
                                <h3>{{ produit.nom_produit }}</h3>
                            </div>
                            <div class="product-price_rating">
                                <h2>{{ produit.prix }} {{ produit.boutique.devise_money }}</h2>
                                <div class="rating">
                                    <h3>1 000 <i class="fa fa-star"></i></h3>
                                </div>
                            </div>
                            <a href="{% url 'product_detail' produit.id %}" class="link-product">
                                <b>
                                    Consulter
                                </b>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>

        {% endif %}

        {% if fashion %}

            <h1 class="title-categorie"> Fashions <a href="#">Voir Plus!</a> </h1>

            <div class="products-grid">
            
                {% for produit in fashion %}
                    <div class="product-card">
                        <div class="img-product">
                            <img src="{{ produit.mediasproduct_set.first.image.url }}">
                            <ul class="action">
                                <li> 
                                    <a href="{% url 'product_detail' produit.id %}">
                                        <i class="fa fa-eye"></i>
                                        <span>Consulter le Produit</span>
                                    </a>
                                </li>
                                <li> 
                                    <a href="#">
                                        <i class="fa fa-list-alt"></i>
                                        <span>Ajouter à votre Facture</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> 
                                        <i class="fa fa-star"></i>
                                        <span>Donner une étoile</span>
                                    </a> 
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="product-name">
                                <h3>{{ produit.nom_produit }}</h3>
                            </div>
                            <div class="product-price_rating">
                                <h2>{{ produit.prix }} {{ produit.boutique.devise_money }}</h2>
                                <div class="rating">
                                    <h3>1 000 <i class="fa fa-star"></i></h3>
                                </div>
                            </div>
                            <a href="{% url 'product_detail' produit.id %}" class="link-product">
                                <b>
                                    Consulter
                                </b>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>.

        {% endif %}

        {% if produits_maison_jardin %}

            <h1 class="title-categorie">Maison et Jardins <a href="#">Voir Plus!</a> </h1>

            <div class="products-grid">
            
                {% for produit in produits_maison_jardin %}
                    <div class="product-card">
                        <div class="img-product">
                            <img src="{{ produit.mediasproduct_set.first.image.url }}">
                            <ul class="action">
                                <li> 
                                    <a href="{% url 'product_detail' produit.id %}">
                                        <i class="fa fa-eye"></i>
                                        <span>Consulter le Produit</span>
                                    </a>
                                </li>
                                <li> 
                                    <a href="#">
                                        <i class="fa fa-list-alt"></i>
                                        <span>Ajouter à votre Facture</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> 
                                        <i class="fa fa-star"></i>
                                        <span>Donner une étoile</span>
                                    </a> 
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="product-name">
                                <h3>{{ produit.nom_produit }}</h3>
                            </div>
                            <div class="product-price_rating">
                                <h2>{{ produit.prix }} {{ produit.boutique.devise_money }}</h2>
                                <div class="rating">
                                    <h3>1 000 <i class="fa fa-star"></i></h3>
                                </div>
                            </div>
                            <a href="{% url 'product_detail' produit.id %}" class="link-product">
                                <b>
                                    Consulter
                                </b>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>

        {% endif %}

        {% if beauty_health %}

            <h1 class="title-categorie">Beauté et Santé <a href="#">Voir Plus!</a> </h1>

            <div class="products-grid">
            
                {% for produit in beauty_health %}
                    <div class="product-card">
                        <div class="img-product">
                            <img src="{{ produit.mediasproduct_set.first.image.url }}">
                            <ul class="action">
                                <li> 
                                    <a href="{% url 'product_detail' produit.id %}">
                                        <i class="fa fa-eye"></i>
                                        <span>Consulter le Produit</span>
                                    </a>
                                </li>
                                <li> 
                                    <a href="#">
                                        <i class="fa fa-list-alt"></i>
                                        <span>Ajouter à votre Facture</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> 
                                        <i class="fa fa-star"></i>
                                        <span>Donner une étoile</span>
                                    </a> 
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="product-name">
                                <h3>{{ produit.nom_produit }}</h3>
                            </div>
                            <div class="product-price_rating">
                                <h2>{{ produit.prix }} {{ produit.boutique.devise_money }}</h2>
                                <div class="rating">
                                    <h3>1 000 <i class="fa fa-star"></i></h3>
                                </div>
                            </div>
                            <a href="{% url 'product_detail' produit.id %}" class="link-product">
                                <b>
                                    Consulter
                                </b>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>

        {% endif %}

        {% if food_drink %}

            <h1 class="title-categorie">Alimentation et Boissons <a href="#">Voir Plus!</a> </h1>

            <div class="products-grid">
            
                {% for produit in food_drink %}
                    <div class="product-card">
                        <div class="img-product">
                            <img src="{{ produit.mediasproduct_set.first.image.url }}">
                            <ul class="action">
                                <li> 
                                    <a href="{% url 'product_detail' produit.id %}">
                                        <i class="fa fa-eye"></i>
                                        <span>Consulter le Produit</span>
                                    </a>
                                </li>
                                <li> 
                                    <a href="#">
                                        <i class="fa fa-list-alt"></i>
                                        <span>Ajouter à votre Facture</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> 
                                        <i class="fa fa-star"></i>
                                        <span>Donner une étoile</span>
                                    </a> 
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="product-name">
                                <h3>{{ produit.nom_produit }}</h3>
                            </div>
                            <div class="product-price_rating">
                                <h2>{{ produit.prix }} {{ produit.boutique.devise_money }}</h2>
                                <div class="rating">
                                    <h3>1 000 <i class="fa fa-star"></i></h3>
                                </div>
                            </div>
                            <a href="{% url 'product_detail' produit.id %}" class="link-product">
                                <b>
                                    Consulter
                                </b>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>

        {% endif %}

        {% if sports_leisure %}

            <h1 class="title-categorie">Sport et Loisirs <a href="#">Voir Plus!</a> </h1>

            <div class="products-grid">
            
                {% for produit in sports_leisure %}
                    <div class="product-card">
                        <div class="img-product">
                            <img src="{{ produit.mediasproduct_set.first.image.url }}">
                            <ul class="action">
                                <li> 
                                    <a href="{% url 'product_detail' produit.id %}">
                                        <i class="fa fa-eye"></i>
                                        <span>Consulter le Produit</span>
                                    </a>
                                </li>
                                <li> 
                                    <a href="#">
                                        <i class="fa fa-list-alt"></i>
                                        <span>Ajouter à votre Facture</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> 
                                        <i class="fa fa-star"></i>
                                        <span>Donner une étoile</span>
                                    </a> 
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="product-name">
                                <h3>{{ produit.nom_produit }}</h3>
                            </div>
                            <div class="product-price_rating">
                                <h2>{{ produit.prix }} {{ produit.boutique.devise_money }}</h2>
                                <div class="rating">
                                    <h3>1 000 <i class="fa fa-star"></i></h3>
                                </div>
                            </div>
                            <a href="{% url 'product_detail' produit.id %}" class="link-product">
                                <b>
                                    Consulter
                                </b>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>

        {% endif %}

        {% if books_media %}

            <h1 class="title-categorie">Livres et Médias <a href="#">Voir Plus!</a> </h1>

            <div class="products-grid">
            
                {% for produit in books_media %}
                    <div class="product-card">
                        <div class="img-product">
                            <img src="{{ produit.mediasproduct_set.first.image.url }}">
                            <ul class="action">
                                <li> 
                                    <a href="{% url 'product_detail' produit.id %}">
                                        <i class="fa fa-eye"></i>
                                        <span>Consulter le Produit</span>
                                    </a>
                                </li>
                                <li> 
                                    <a href="#">
                                        <i class="fa fa-list-alt"></i>
                                        <span>Ajouter à votre Facture</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> 
                                        <i class="fa fa-star"></i>
                                        <span>Donner une étoile</span>
                                    </a> 
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="product-name">
                                <h3>{{ produit.nom_produit }}</h3>
                            </div>
                            <div class="product-price_rating">
                                <h2>{{ produit.prix }} {{ produit.boutique.devise_money }}</h2>
                                <div class="rating">
                                    <h3>1 000 <i class="fa fa-star"></i></h3>
                                </div>
                            </div>
                            <a href="{% url 'product_detail' produit.id %}" class="link-product">
                                <b>
                                    Consulter
                                </b>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>

        {% endif %}

        {% if toys_kids %}

            <h1 class="title-categorie">Jouets et Enfants <a href="#">Voir Plus!</a> </h1>

            <div class="products-grid">
            
                {% for produit in toys_kids %}
                    <div class="product-card">
                        <div class="img-product">
                            <img src="{{ produit.mediasproduct_set.first.image.url }}">
                            <ul class="action">
                                <li> 
                                    <a href="{% url 'product_detail' produit.id %}">
                                        <i class="fa fa-eye"></i>
                                        <span>Consulter le Produit</span>
                                    </a>
                                </li>
                                <li> 
                                    <a href="#">
                                        <i class="fa fa-list-alt"></i>
                                        <span>Ajouter à votre Facture</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> 
                                        <i class="fa fa-star"></i>
                                        <span>Donner une étoile</span>
                                    </a> 
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="product-name">
                                <h3>{{ produit.nom_produit }}</h3>
                            </div>
                            <div class="product-price_rating">
                                <h2>{{ produit.prix }} {{ produit.boutique.devise_money }}</h2>
                                <div class="rating">
                                    <h3>1 000 <i class="fa fa-star"></i></h3>
                                </div>
                            </div>
                            <a href="{% url 'product_detail' produit.id %}" class="link-product">
                                <b>
                                    Consulter
                                </b>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>

        {% endif %}

        {% if automotive_tools %}

            <h1 class="title-categorie">Automobile et Outils <a href="#">Voir Plus!</a> </h1>

            <div class="products-grid">
            
                {% for produit in automotive_tools %}
                    <div class="product-card">
                        <div class="img-product">
                            <img src="{{ produit.mediasproduct_set.first.image.url }}">
                            <ul class="action">
                                <li> 
                                    <a href="{% url 'product_detail' produit.id %}">
                                        <i class="fa fa-eye"></i>
                                        <span>Consulter le Produit</span>
                                    </a>
                                </li>
                                <li> 
                                    <a href="#">
                                        <i class="fa fa-list-alt"></i>
                                        <span>Ajouter à votre Facture</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> 
                                        <i class="fa fa-star"></i>
                                        <span>Donner une étoile</span>
                                    </a> 
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="product-name">
                                <h3>{{ produit.nom_produit }}</h3>
                            </div>
                            <div class="product-price_rating">
                                <h2>{{ produit.prix }} {{ produit.boutique.devise_money }}</h2>
                                <div class="rating">
                                    <h3>1 000 <i class="fa fa-star"></i></h3>
                                </div>
                            </div>
                            <a href="{% url 'product_detail' produit.id %}" class="link-product">
                                <b>
                                    Consulter
                                </b>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>

        {% endif %}

        {% if pets %}

            <h1 class="title-categorie">Animaux <a href="#">Voir Plus!</a> </h1>

            <div class="products-grid">
            
                {% for produit in pets %}
                    <div class="product-card">
                        <div class="img-product">
                            <img src="{{ produit.mediasproduct_set.first.image.url }}">
                            <ul class="action">
                                <li> 
                                    <a href="{% url 'product_detail' produit.id %}">
                                        <i class="fa fa-eye"></i>
                                        <span>Consulter le Produit</span>
                                    </a>
                                </li>
                                <li> 
                                    <a href="#">
                                        <i class="fa fa-list-alt"></i>
                                        <span>Ajouter à votre Facture</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> 
                                        <i class="fa fa-star"></i>
                                        <span>Donner une étoile</span>
                                    </a> 
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="product-name">
                                <h3>{{ produit.nom_produit }}</h3>
                            </div>
                            <div class="product-price_rating">
                                <h2>{{ produit.prix }} {{ produit.boutique.devise_money }}</h2>
                                <div class="rating">
                                    <h3>1 000 <i class="fa fa-star"></i></h3>
                                </div>
                            </div>
                            <a href="{% url 'product_detail' produit.id %}" class="link-product">
                                <b>
                                    Consulter
                                </b>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>

        {% endif %}

        {% if services %}

            <h1 class="title-categorie">Services et Abonnements <a href="#">Voir Plus!</a> </h1>

            <div class="products-grid">
            
                {% for produit in services %}
                    <div class="product-card">
                        <div class="img-product">
                            <img src="{{ produit.mediasproduct_set.first.image.url }}">
                            <ul class="action">
                                <li> 
                                    <a href="{% url 'product_detail' produit.id %}">
                                        <i class="fa fa-eye"></i>
                                        <span>Consulter le Produit</span>
                                    </a>
                                </li>
                                <li> 
                                    <a href="#">
                                        <i class="fa fa-list-alt"></i>
                                        <span>Ajouter à votre Facture</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> 
                                        <i class="fa fa-star"></i>
                                        <span>Donner une étoile</span>
                                    </a> 
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="product-name">
                                <h3>{{ produit.nom_produit }}</h3>
                            </div>
                            <div class="product-price_rating">
                                <h2>{{ produit.prix }} {{ produit.boutique.devise_money }}</h2>
                                <div class="rating">
                                    <h3>1 000 <i class="fa fa-star"></i></h3>
                                </div>
                            </div>
                            <a href="{% url 'product_detail' produit.id %}" class="link-product">
                                <b>
                                    Consulter
                                </b>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>

        {% endif %}


    </section>
{% endblock %}