
{% extends 'pages/layouts/app.html' %}

{% block app %}
{% load static %}

    <!-- Kw de N9? -->
    <header class="hero">
        <form class="hero-content">
            <h2>Salut {{ user.first_name }} {{ user.last_name }}. Alors quoi de Neuf?</h2>
            <div class="search-bar">
                <textarea name="#" id="#" placeholder="Comment tu te sens? N'as-tu pas un twitte à partager?"></textarea>
                <button class="search-btn-search" type="submit">Poster</button>
            </div>
        </form>
    </header>

    <!-- Slider Section -->
    <section class="slider-section">
        <div class="slider">
            <a href="#" class="slide">
                <img src="{% static 'assets/default/image1.jpeg' %}" alt="Tech Image 1" class="slide-image">
                <div class="slide-content">
                    <h3>Découvrez nos offres</h3>
                    <p>Les meilleurs prix près de chez vous</p>
                </div>
            </a>
            <a href="#" class="slide">
                <img src="{% static 'assets/default/image2.jpeg' %}" alt="Tech Image 2" class="slide-image">
                <div class="slide-content">
                    <h3>Produits locaux</h3>
                    <p>Soutenez vos commerces de proximité</p>
                </div>
            </a>
            <a href="#" class="slide">
                <img src="{% static 'assets/default/image3.jpeg' %}" alt="Tech Image 3" class="slide-image">
                <div class="slide-content">
                    <h3>Prix compétitifs</h3>
                    <p>Comparez et économisez</p>
                </div>
            </a>
        </div>
        <button class="slider-btn prev">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <polyline points="15 18 9 12 15 6"></polyline>
            </svg>
        </button>
        <button class="slider-btn next">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
        </button>
    </section>

    <!-- Main le contenu des données -->
    <main class="main-content section-post">
        <!-- Section Post -->
        <section class="post-section">
            {% if posts %}
                {% for post in posts %}
                    <article class="post-card">
                        <div class="auteur-post">
                            <div class="infos-user">
                                <a href="{% url 'user_detail' user_id=post.user.id %}">
                                    <div class="photo-profil">
                                        {% if post.user.profile_image and post.user.profile_image.url %}
                                                <img src="{{ post.user.profile_image.url}}">
                                            {% else %}
                                            <img src="{% static 'assets/default/user.png' %}">
                                        {% endif %}
                                    </div>
                                    <div class="details-user">
                                        {% if post.user.rôle == "personnel" %}
                                            <h3> {{ post.user.first_name }} {{ post.user.last_name }} </h3>
                                            {% else %}
                                            <h3> <i class="fa fa-briefcase primary"></i> {% if post.user.etablissement %} {{ post.user.etablissement }} {% endif %}
                                                <span class="danger">
                                                    ({{ post.user.rôle|upper }})
                                                </span> 
                                            </h3>
                                        {% endif %}
                                        <span>Posté le {{ post.date_creation_post|date:"d F Y à H:i" }}</span>
                                    </div>
                                </a>
                            </div>
                            <form class="subscribe-user" id="subscribe-form-{{ post.user.id }}" action="{% url 'suivre_utilisateur' user_id=post.user.id %}" method="post">
                                {% csrf_token %}
                            {% if user.is_authenticated and user != post.user %}
                                <button type="submit" class="button-follow" data-user-id="{{ post.user.id }}">
                                    {% if request.user in post.user.followers.all %}
                                        <i class="fa fa-check"></i> Suivi
                                    {% else %}
                                        <i class="fa fa-user-plus"></i> Suivre
                                    {% endif %}
                                </button>
                            {% endif %}
                            </form>
                        </div>
                        <div class="content-post">
                            <div class="description">
                                <p>
                                    {{ post.contenu_post|safe }}
                                </p>
                            </div>
                            <a class="more"></a>

                            {% if post.mediaspost_set.all or post.video %}
                                <div class="media-carousel" data-post-id="{{ post.id }}">
                                    <button class="prev-btn">&#10094;</button>
                                    <div class="media-wrapper" onclick="openModal(event)">
                                        {% for media in post.mediaspost_set.all %}
                                            {% if media.image %}
                                                <img src="{{ media.image.url }}" alt="Media 1" class="affiche"> 
                                            {% endif %}
                                        {% endfor %}

                                        {% if post.video %}
                                            <video autoplay muted controls loop disablepictureinpicture controlslist="nodownload noplaybackrate" class="affiche" alt="Media 1">
                                                <source src="{{ post.video.url }}" type="video/mp4">
                                            </video>
                                        
                                        {% endif %}
                                    </div>
                                    <button class="next-btn">&#10095;</button>
                                    <div class="media-indicator"></div>

                                    <!-- Modal pour afficher les images en grand -->
                                    <div id="modal" class="modal" onclick="closeModal()">
                                        <span class="close_views">&times;</span>
                                        <img class="modal-content" id="modal-img">
                                    </div>
                                </div>
                            {% endif %}

                            <div class="followers">
                                <a class="like-btn" data-like-url="{% url 'likes' post.pk %}">
                                    <form id="like-form-{{ post.pk }}" method="POST" action="{% url 'likes' post.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <button type="submit" class="button-like" data-post-id="{{ post.pk }}">
                                            <span class="like-icon" id="likeIcon{{ post.pk }}">
                                                {% if user.is_authenticated %}
                                                    {% if request.user in post.like_post.all %}
                                                        <i class="fa fa-thumbs-up"></i>
                                                    {% else %}
                                                        <i class="fa fa-thumbs-down"></i>
                                                    {% endif %}
                                                {% else %}
                                                    <i class="fa fa-thumbs-down"></i>
                                                {% endif %}
                                            </span>
                                            <b class="number-like primary">{{ post.like_post.count }}</b>
                                        </button>
                                    </form>
                                </a>

                                <a href="{% url 'post_comments' post.id %}">
                                    <i class="fa fa-comments">
                                        <span class="primary" style="font-weight: bold;">
                                            {% if post.nombre_commentaire > 1000 %}
                                                {{ post.nombre_commentaire|divisibleby:1000|floatformat:"0.1" }}k
                                            {% else %}
                                                {{ post.nombre_commentaire }}
                                            {% endif %}
                                        </span>
                                    </i>
                                </a>

                                <a onclick="openPopup('{{ post.id }}')">
                                    <i class="fa fa-share-alt"></i>
                                </a>

                                {% for post in posts %}
                                    <section class="popup popup-{{ post.id }}">
                                        <div class="content-popup">
                                            <span class="close" onclick="closePopup('{{ post.id }}')">&times;</span>
                                    
                                            <h2>Partager sur:</h2>

                                            <a href="whatsapp://send?text=Consultez%20ce%20lien%20pour%20plus%20d'informations%3A%20{% url 'post_detail' post_id=post.id %}" target="_blank" class="fa fa-whatsapp whatsapp"><br><span>Whatsapp</span></a>
                                    
                                            <a href="https://www.facebook.com/sharer/sharer.php?u={% url 'post_detail' post_id=post.id %}" target="_blank" class="fa fa-facebook facebook"><br><span>Facebook</span></a>
                                    
                                            <a href="https://t.me/share/url={% url 'post_detail' post_id=post.id %}&text=Consultez ce lien pour plus d'information" target="_blank" class="fa fa-telegram telegram"><br><span>Telegram</span></a>

                                            <a href="https://www.linkedin.com/sharing/share-offsite/?url={% url 'post_detail' post_id=post.id %}" target="_blank" class="fa fa-linkedin linkedin"><br><span>LinkedIn</span></a>

                                            <a href="https://www.pinterest.com/pin/create/button/?url={% url 'post_detail' post_id=post.id %}&description=Consultez ce lien pour plus d'information" target="_blank" class="fa fa-pinterest pinterest"><br><span>Pinterest</span></a>

                                    
                                            <!-- <label for="#" class="fa fa-link link"><br><span>Copy Link</span></label> -->
                                    
                                        </div>
                                    
                                    </section>
                                {% endfor %}
                            </div>
                        </div>
                    </article>
                {% endfor %}
        
                    {% else %}
                    <center>
                        <p>Aucun poste disponible pour le moment.</p>
                    </center>
            {% endif %}
        </section>

        <!-- Section Side Infos -->
        <section class="side-section">
            <div class="side-wrapper">
                <div class="event-freind">
                    <div class="event">
                        <h3 class="heading">Annonces <a href="#">Tout voire</a></h3>
                        <img src="{% static 'assets/default/image1.jpeg' %}" alt="event-img">
                        <div class="event-date">
                            <h3>21 <b>july</b> 2024</h3>
                            <h4>United state of America <span>New York City</span> <span>Entreprise</span> </h4>
                        </div>
                        <button><i class="fa fa-star"></i> Suis Interssé(e) </button>
                    </div>

                    <hr>
                
                    <div class="friend">
                        <h3 class="heading">Amis Interressés <a href="#">Tout Voire</a></h3>
                        <ul>
                            <li><img src="images/image3.jpeg" alt="user"></li>
                            <li>
                                <b>armanul islam</b>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="event-freind">
                    <div class="event">
                        <h3 class="heading">Offres <a href="#">Tout voire</a></h3>
                        <img src="{% static 'assets/default/image2.jpeg' %}" alt="event-img">
                        <div class="event-date">
                            <h3>21 <b>july</b> 2024</h3>
                            <h4>United state of America <span>New York City</span> <span>Ecoles</span> </h4>
                        </div>
                        <button><i class="fa fa-star"></i> Suis Interssé(e) </button>
                    </div>

                    <hr>
                
                    <div class="friend">
                        <h3 class="heading">Amis Interressés <a href="#">Tout Voire</a></h3>
                        <ul>
                            <li><img src="images/image3.jpeg" alt="user"></li>
                            <li>
                                <b>armanul islam</b>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="messenger">
                    <div class="messenger-search">
                        <i class="fa fa-users icon"></i>
                        <h4>Messenger</h4>
                        <input type="search" placeholder="Search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <ul>
                        <li>
                            <img src="{% static 'assets/default/image1.jpeg' %}" alt="user">
                            <b>Zunayed Hossain <span>Online</span></b>
                            <i class="fa-brands fa-facebook-messenger"></i>
                        </li>

                        <li>
                            <img src="{% static 'assets/default/image2.jpeg' %}" alt="user">
                            <b>Armanul Islam <span>Offline</span></b>
                            <i class="fa-brands fa-facebook-messenger"></i>
                        </li>

                        <li>
                            <img src="{% static 'assets/default/image1.jpeg' %}" alt="user">
                            <b>Mohammad Amir <span>Online</span></b>
                            <i class="fa fa-facebook-messenger"></i>
                        </li>
                    </ul>
                </div>

                <div class="event-freind">
                    <div class="event">
                        <h3 class="heading">Evénement <a href="#">Tout voire</a></h3>
                        <img src="{% static 'assets/default/image2.jpeg' %}" alt="event-img">
                        <div class="event-date">
                            <h3>21 <b>july</b> 2024</h3>
                            <h4>United state of America <span>New York City</span> <span>Ecoles</span> </h4>
                        </div>
                        <button><i class="fa fa-star"></i> Suis Interssé(e) </button>
                    </div>

                    <hr>
                
                    <div class="friend">
                        <h3 class="heading">Amis Interressés <a href="#">Tout Voire</a></h3>
                        <ul>
                            <li><img src="{% static 'assets/default/image3.jpeg' %}" alt="user"></li>
                            <li>
                                <b>armanul islam</b>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}