{% extends 'pages/layouts/app.html' %}

{% block app %}
{% load static %}

    <section class="center perturbateur">
        
        <section>
            <form action="" class="search except">
                <div class="form-group">
                    <input type="search" name="personnel" id="search-input" placeholder="Rechercher un personnel"/>
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
            
        </section>
        
        <section class="slider">
            <div class="sliderP">
                <a href="#">
                    <img src="{% static 'assets/default/banner.png' %}">
                </a>
            </div>
        
            <div class="sliderP">
                <a href="#">
                    <img src="{% static 'assets/default/banner3.jpeg' %}">
                </a>
            </div>
        
            <div class="sliderP">
                <a href="#">
                    <img src="{% static 'assets/default/banner4.jpeg' %}">
                </a>
            </div>
        
            <div class="sliderP">
                <a href="#">
                    <img src="{% static 'assets/default/banner5.jpg' %}">
                </a>
            </div>
        
            <div class="lines PageLines">
                <div class="line_P" onclick="currentSlideP(1)"></div>
        
                <div class="line_P" onclick="currentSlideP(2)"></div>
        
                <div class="line_P" onclick="currentSlide(3)"></div>
        
                <div class="line_P" onclick="currentSlide(4)"></div>
            </div>
        </section>
        
        {% if query %}
            <section class="posts">
                <center><p>{{ result_count }} résultat(s) trouvé(s) pour "{{ query }}"</p></center> 
            </section>
        {% endif %}


        <div class="profil-grid">
            {% for CustomUser in CustomUsers %}
                <a href="{% url 'user_detail' user_id=CustomUser.id %}" class="profil-card">
                    <div class="profil-image">
                        {% if CustomUser.profile_image and CustomUser.profile_image.url %}
                            <img src="{{ CustomUser.profile_image.url }}">
                        {% else %}
                            <img src="{% static 'assets/default/user.png' %}">
                        {% endif %}
                    </div>

                    <div class="profil-detail">
                        <h3 class="profil-name"> {{ CustomUser.first_name }} {{ CustomUser.last_name }} </h3>
                        <h4 class="profil-address">
                            <i class="fa fa-map-marker primary"></i>
                            {{ CustomUser.pays }}, {{ CustomUser.ville }}, {{ CustomUser.quartier }}
                            <br>
                            <span>
                                <i class="fa fa-clock-o primary"></i>
                                Inscrit(e) le {{ CustomUser.date_joined|date:"d F Y à H:i" }}
                            </span>
                        </h4>
      
                        {% if CustomUser.metier %}
                            <h2 class="type"> {{ CustomUser.metier }} </h2>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>

        {% include 'pages/common/sidebar.html' %}
    </section>
{% endblock %}