{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon CV</title>

    <!-- Box Icone -->
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/ressources/styles/cv.css' %}">

</head>
<body>
<button id="boutonRetour">
    <i class="fa fa-arrow-left" aria-hidden="true"> Retour </i>
</button>

<div class="container">

    <header>
        <div class="header-content">
            {% if user.rôle == "personnel" %}
                    <h1>{{ user.username }}</h1>
                    <p>{{ user.metier }}</p> 
                {% else %}
                <h1>{{ user.etablissement }}</h1>
            {% endif %}
        </div>
    </header>

    <section class="profile">
        <div class="section-header">
            <h2>Profil <a href="update_cv_profil" class="fa fa-edit">Editer</a></h2>
        </div>
        <p>{{ profil.description|safe }}</p>
    </section>

    <section class="experience">
        <div class="section-header">
            {% if .user.rôle == "personnel" %}
                    <h2>Expérience Professionnelle <a href="create_cv_experience" class="fa fa-plus">Ajouter</a></h2>
                {% else %}
                <h2>Expérience <a href="create_cv_experience" class="fa fa-plus">Ajouter</a></h2>
            {% endif %}
        </div>
        <ul>
            {% if experience %}
                <li>
                    <a href="{% url 'update_cv_experience' user.experience.id %}">
                        <h3>{{ user.experience.title }}</h3> <!-- Afficher le titre de l'expérience -->
                        <p>{{ user.experience.description|safe }}</p> <!-- Afficher la description de l'expérience -->
                    </a>
                </li>
                {% else %}
                <i>Aucun Experience disponible.</i>
            {% endif %}
        </ul>
    </section>

    {% if user.rôle == "ecole" %}
        <section class="education">
            <div class="section-header">
                <h2>Formation <a href="create_cv_formation" class="fa fa-plus">Ajouter</a></h2>
            </div>
            <ul>
                {% if formation %}
                    <li>
                        <a href="{% url 'update_cv_formation' user.formation.id %}">
                            <h3>{{ user.formation.title }}</h3>
                            <p>{{ user.formation.description|safe }}</p>
                        </a>
                    </li>
                    {% else %}
                    <i>Aucun Formation disponible.</i>
                {% endif %}
            </ul>
        </section>
        {% else %}

    {% endif %}

    {% if user.rôle == "personnel" %}
        <section class="education">
            <div class="section-header">
                <h2>Formation <a href="create_cv_formation" class="fa fa-plus">Ajouter</a></h2>
            </div>
            <ul>
                {% if formation %}
                    <li>
                        <a href="{% url 'update_cv_formation' user.formation.id %}">
                            <h3>{{ user.formation.title }}</h3>
                            <p>{{ user.formation.description|safe }}</p>
                        </a>
                    </li>
                    {% else %}
                    <i>Aucun Formation disponible.</i>
                {% endif %}
            </ul>
        </section>
        {% else %}

    {% endif %}

    <footer>
        <p>Contact: {{ user.email }} | Téléphone: {{ user.number_phone }} | Site Web: {{ user.website_link }}</p> <!-- Afficher les informations de contact -->
    </footer>
</div>

<script src="{% static 'assets/ressources/scripts/Retour.js' %}"></script>
<script src="{% static 'assets/algos/scripts/secrete.js' %}"></script>
</body>
</html>
