{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="images/jpg" rel="icon" href="{% static 'assets/logo/galsen.jpg' %}">
    
    <title> GALSEN </title>

    <!-- Box Icone -->
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/members.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/sidebar-right.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/slide.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/theme.css' %}">

</head>
<body>

    
    <section class="header" id="header">
        <nav class="nav contenu">
            <form class="search">
                <div class="form-group">
                    <input type="search" name="poste" id="search-input" placeholder="Rechercher un membre"/>
                    <button type="submit">
                        Rechercher
                    </button>
                </div>
            </form>
        </nav>
    </section>

    <section class="slider members">
        <div class="sliderP">
            <a href="#">
                <img src="{% static 'assets/default/banner.png' %}">
            </a>
        </div>
    
        <div class="sliderP">
            <a href="#">
                <img src="{% static 'assets/default/banner3.jpeg' %}">
            </a>
        </div>
    
        <div class="sliderP">
            <a href="#">
                <img src="{% static 'assets/default/banner4.jpeg' %}">
            </a>
        </div>
    
        <div class="sliderP">
            <a href="#">
                <img src="{% static 'assets/default/banner5.jpg' %}">
            </a>
        </div>
    
        <div class="prev-button" onclick="plusSlideP(-1)">&#10094;</div>
        <div class="next-button" onclick="plusSlideP(1)">&#10095;</div>
    
        <div class="lines PageLines">
            <div class="line_P" onclick="currentSlideP(1)"></div>
    
            <div class="line_P" onclick="currentSlideP(2)"></div>
    
            <div class="line_P" onclick="currentSlide(3)"></div>
    
            <div class="line_P" onclick="currentSlide(4)"></div>
        </div>
    </section>
    
    <section class="profiles">
        <div class="profiles-grid">

            {% for user in users %}

                <a href="{% url 'user_detail' pk=user.id %}" class="profile-card">
                    {% if user.banner_image and user.banner_image.url %}
                            <img src="{{ user.banner_image.url}}">
                        {% else %}
                            <img src="{% static 'assets/default/user.png' %}">
                        {% endif %}
                    <div class="infos">
                        <div class="subject"><h3>Design</h3></div>
                        {% if user.profile_image and user.profile_image.url %}
                            <img src="{{ user.profile_image.url}}">
                        {% else %}
                            <img src="{% static 'assets/default/user.png' %}">
                        {% endif %}
                    </div>
                    {% if user.rôle == "personnel" %}
                            <h2><i class="profile-name fa fa-user primary"></i> {{ user.first_name }} {{ user.last_name }} </h2>
                        {% else %}
                            <h2><i class="fa fa-briefcase primary"></i> {{ user.etablissement }} </h2>
                            <p><span class=""><i class="danger">Type:</i>{{ user.rôle|upper }}</span> </p>
                    {% endif %}
                    <div class="profile-date">
                        <span> <i class="fa fa-clock-o"></i> {{ user.date_joined|date:"d F Y à H:i" }} </span>
                    </div>
                </a>
            {% endfor %} 

        </div>
    </section>

    {% include 'sidebar/sidebar.html' %}

    
    <script src="{% static 'assets/algos/scripts/secrete.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/Retour.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/sidebar-right.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/banner-slide.js' %}"></script>
</body>
</html>
