{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="images/jpg" rel="icon" href="{% static 'assets/logo/galsen.jpg' %}">
    
    <title> GALSEN </title>

    <!-- Box Icone -->
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/details_like.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/theme.css' %}">

    <title>Vos Abonnements</title>
</head>
<body>

    
<img src="{% static 'assets/logo/school.png' %}" class="bg">
    <section class="listes">
        <header>
            <a href="#" id="boutonRetour">
                <i class="fa fa-arrow-left arrow"></i>
            </a>
            Abonnés
        </header>

        <div class="temoin">
            <br>
            <hr class="divider">
        </div>

        <section class="profile">
            {% if abonnes %}
                 {% for abonne in abonnes %}
                    <a href="{% url 'user_detail' pk=abonne.id %}" class="user-card">
                        <div class="user-card-img">
                            {% if abonne.profile_image and abonne.profile_image.url %}
                                <img src="{{ abonne.profile_image.url}}">
                            {% else %}
                                <img src="{% static 'assets/default/user.png' %}">
                            {% endif %}
                        </div>
                        <div class="user-card-info">
                            {% if abonne.rôle == "personnel" %}
                                    <h2><i class="fa fa-user primary"></i> {{ abonne.first_name }} {{ abonne.last_name }} </h2>
                                {% else %}
                                    <h2><i class="fa fa-briefcase primary"></i> {{ abonne.etablissement }} </h2>
                                    <p><span class=""><i class="danger">Type:</i>{{ abonne.rôle|upper }}</span> </p>
                            {% endif %}
                            <p><span class="fa fa-envelope primary"> <i class="danger">Email:</i> </span> {{ abonne.email }} </p>
                            <p><span class="fa fa-map-marker primary"> <i class="danger">Addresse:</i> </span> {{ abonne.quartier }}  - {{ abonne.ville }}  - {{ abonne.pays }} </p>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
            <center>
                <p class="success">
                    Aucun abonné.
                </p>
            </center>
            {% endif %}
        </section>
    </section>

    
    <script src="{% static 'assets/algos/scripts/secrete.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/Retour.js' %}"></script>
</body>
</html>
