{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <link type="images/jpg" rel="icon" href="{% static 'assets/logo/sunprice.png' %}">

    <!-- Link Icone -->
    <link rel="stylesheet" href="{% static 'admin/icones/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'admin/icones/font-awesome/css/font-awesome.min.css' %}">

    <!-- Link Css -->
    <link rel="stylesheet" href="{% static 'admin/ressources/styles/dash_admin.css' %}">
    <link rel="stylesheet" href="{% static 'admin/ressources/styles/admin-sidebarR.css' %}">
    <link rel="stylesheet" href="{% static 'admin/ressources/styles/odometer-theme-car.css' %}">

</head>
<body>

    <header class="header" id="header">
        <nav class="nav cont">
            <div class="numbers-users">
                <div id="odometer" class="odometer"><p>Traffic count: {{ traffic_count }}</p></div> &nbsp;
                <h2>Les trafics d'aujourd'hui</h2>
            </div>

            <div class="infos-admin">
                {% if user.profile_image and user.profile_image.url %}
                    <img src="{{ user.profile_image.url }}" onclick="toggle()">
                    {% else %}
                    <img src="{% static 'assets/default/user.png' %}" onclick="toggle()">
                {% endif %}
                <ul class="profil-dropdown-list">
                    <li class="profil-dropdown-list-item">
                        <a href="detail_profile">
                            <i class="fa fa-briefcase"></i>
                            Editer l'entreprise
                        </a>
                    </li>

                    <li class="profil-dropdown-list-item">
                        <a href="#">
                            <i class="fa fa-envelope"></i>
                            Messages
                        </a>
                    </li>

                    <li class="profil-dropdown-list-item">
                        <a href="#">
                            <i class="fa fa-handshake-o"></i>
                            Partenaires
                        </a>
                    </li>

                    <li class="profil-dropdown-list-item">
                        <a href="#">
                            <i class="fa fa-users"></i>
                            Sponsors
                        </a>
                    </li>

                    <li class="profil-dropdown-list-item">
                        <a href="#">
                            <i class="fa fa-sliders"></i>
                            Banniéres
                        </a>
                    </li>

                    <hr>

                    <li class="profil-dropdown-list-item">
                        <a href="home">
                            <i class="fa fa-home"></i>
                            Home
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>


    <main>
        
        <section class="datas">
            <h1 class="section_title"><i class="fa fa-users"></i> Taux d'Utilisateurs (100%) </h1>
            <div class="data-users">
                <a href="adminadmin" class="circle data-users-card" data-degree="{{ admin_percentage|floatformat:1 }}%" data-color="#04fc43">
                    <h2 class="number">{{ admin_percentage|floatformat:1 }}%<span>%</span></h2>
                    <h4>{{ admin_count }} <br><br> Admins </h4>
                </a>
            
                <a href="adminprofessionnel" class="circle data-users-card" data-degree="{{ professionnel_percentage|floatformat:1 }}" data-color="#fee800">
                    <h2 class="number">{{ professionnel_percentage|floatformat:1 }}<span>%</span></h2>
                    <h4>{{ professionnel_count }} <br><br> Professionnel(le)s </h4>
                </a>
            
                <a href="adminecole" class="circle data-users-card" data-degree="{{ ecole_percentage|floatformat:1 }}" data-color="#ff2972">
                    <h2 class="number">{{ ecole_percentage|floatformat:1 }}<span>%</span></h2>
                    <h4>{{ ecole_count }} <br><br> Ecoles </h4>
                </a>
            
                <a href="adminentreprise" class="circle data-users-card" data-degree="{{ entreprise_percentage|floatformat:1 }}" data-color="#045FFCFF">
                    <h2 class="number">{{ entreprise_percentage|floatformat:1 }}<span>%</span></h2>
                    <h4>{{ entreprise_count }} <br><br> Entreprises </h4>
                </a>
            
                <a href="adminusers" class="circle data-users-card" data-degree="100" data-color="#299bd5">
                    <h2 class="number"><span>%</span></h2>
                    <h4>{{ total_users_count }} <br><br> Utilisateurs </h4>
                </a>

                <a href="#" class="circle data-users-card" data-degree="100" data-color="#04FCFCFF">
                    <h2 class="number">100<span>%</span> </h2>
                    <h4> {{ boutique_count }} <br> <br> Boutiques </h4>
                </a>
            </div>
            

            <h1 class="section_title"><i class="fa fa-line-chart"></i> Taux de trafics</h1>
            <div class="data-chart">
                <div id="chart"></div>
            </div>

            <h1 class="section_title"><i class="fa fa-money"></i> Revenus </h1>
            <div class="money-grid">
                <a href="#" class="money-card">
                    <div class="icone-data">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <div class="data-moneys">
                        <h2>Aujourd'hui</h2>
                        <p> <span>$</span> 2000</p>
                    </div>
                </a>

                <a href="#" class="money-card">
                    <div class="icone-data">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <div class="data-moneys">
                        <h2>Du mois</h2>
                        <p> <span>$</span> 2000</p>
                    </div>
                </a>

                <a href="#" class="money-card">
                    <div class="icone-data">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <div class="data-moneys">
                        <h2>L'année</h2>
                        <p> <span>$</span> 2000</p>
                    </div>
                </a>

                <a href="#" class="money-card">
                    <div class="icone-data">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <div class="data-moneys">
                        <h2>Devise de 1$</h2>
                        <p> <span>FCFA</span> 650</p>
                    </div>
                </a>
            </div>

            <div class="moneys-card">
                <h1 class="section_title"><i class="fa fa-money"></i> En FCFA </h1>
                <div class="money-grid">
                    <a href="#" class="money-card">
                        <div class="icone-data">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="data-moneys">
                            <h2>Aujourd'hui</h2>
                            <p> 2000 <span>fcfa</span></p>
                        </div>
                    </a>
    
                    <a href="#" class="money-card">
                        <div class="icone-data">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="data-moneys">
                            <h2>Du mois</h2>
                            <p> 2000 <span>fcfa</span></p>
                        </div>
                    </a>
    
                    <a href="#" class="money-card">
                        <div class="icone-data">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="data-moneys">
                            <h2>L'année</h2>
                            <p> 2000 <span>fcfa</span></p>
                        </div>
                    </a>
    
                    <a href="#" class="money-card">
                        <div class="icone-data">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="data-moneys">
                            <h2>L'année en $</h2>
                            <p> <span>$</span> 650</p>
                        </div>
                    </a>
                </div>
            </div>
            

            <h1 class="section_title"><i class="fa fa-money"></i> Analyse des Revenus en FCFA </h1>
            <div class="data-grid">
                <a class="data-card">
                    <div id="chart-jrs"></div>
                    <center>
                        <h2 class="jours">Jours</h2>
                    </center>
                </a>

                <a class="data-card">
                    <div id="chart-an"></div>
                    <center>
                        <h2 class="years">Année</h2>
                    </center>
                </a>
            </div>
        </section>

        <section class="sidebar-left-actu">
            <div class="sidebarLeft-actu">
                <div class="sidebar-profile-box calendar">
                    <div class="calendar-header">
                        <span class="month-picker" id="month-picker"></span>
                        <div class="year-picker">
                            <span class="year-change" id="prev-year">
                                <pre><</pre>
                            </span>
                            <span id="year">2021</span>
                            <span class="year-change" id="next-year">
                                <pre>></pre>
                            </span>
                        </div>
                    </div>
                    <div class="calendar-body">
                        <div class="calendar-week-day">
                            <div>Lun</div>
                            <div>Mar</div>
                            <div>Mer</div>
                            <div>Jeu</div>
                            <div>Ven</div>
                            <div>Sam</div>
                            <div>Dim</div>
                        </div>
                        <div class="calendar-days"></div>
                    </div>
                    <div class="month-list"></div>
                </div>

                <div class="sidebar-profile-box">
                    <div class="sidebar-share-profile">
                        <h2>Horloge:</h2>
        
                        <div class="time">
                            <div class="time-colon">
                                <div class="time-text">
                                  <span class="num hour_num">08</span>
                                  <span class="text primary">Hours</span>
                                </div>
                                <span class="colon">:</span>
                                <div class="time-colon">
                                    <div class="time-text">
                                    <span class="num min_num">45</span>
                                    <span class="text primary">Minutes</span>
                                    </div>
                                    <span class="colon">:</span>
                                </div>
                                <div class="time-colon">
                                    <div class="time-text">
                                    <span class="num sec_num">06</span>
                                    <span class="text primary">Seconds</span>
                                    </div>
                                    <span class="am_pm primary">AM</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <script src="{% static 'admin/dist/apexcharts.min.js' %}"></script>
    <script src="{% static 'admin/ressources/scripts/dash_admin.js' %}"></script>
    <script src="{% static 'admin/ressources/scripts/dash-side.js' %}"></script>
    <script src="{% static 'admin/ressources/scripts/odometer.min.js' %}"></script>

    <script>      
        
        // Mettre à jour le trafic toutes les 10 secondes
        setInterval(updateTraffic, 10000);

        document.addEventListener("DOMContentLoaded", function (event) {
            // Initialiser le compteur avec la valeur du trafic actuel
            const odometerElement = document.getElementById('odometer');
            odometerElement.innerHTML = "{{ traffic_count|default:0 }}".padStart(6, '0');
        
            // Optionnel : si vous avez besoin de rafraîchir le trafic périodiquement
            function updateTraffic() {
                odometerElement.innerHTML = "{{ traffic_count|default:0 }}".padStart(6, '0');
            }
    
            // Rafraîchir le trafic toutes les 10 secondes si nécessaire
            setInterval(updateTraffic, 10000);
        });
    

        document.addEventListener("DOMContentLoaded", function (event) {
            let circle = document.querySelectorAll('.circle');
            circle.forEach(function(progress) {
                let degree = 0;
                var targetDegree = parseInt(progress.getAttribute('data-degree'));
                let color = progress.getAttribute('data-color');
                let number = progress.querySelector('.number');

                var interval = setInterval(function() {
                    degree += 1;
                    if (degree > targetDegree) {
                        clearInterval(interval);
                        return;
                    }

                    progress.style.background = `conic-gradient(${color} ${degree}%, #222 0%)`;
                    number.innerHTML = degree + `<span>%</span>`;
                    number.style.color = color;
                },50)
            })
        });

        var currentYearData = {{ current_year_visits|safe }};
        var previousYearData = {{ previous_year_visits|safe }};
        
        var options = {
            series: [{
                name: '{{ today.year }}',
                data: currentYearData,
                color: '#2364f0'
            }, {
                name: '{{ previous_year }}',  // Utilisez la variable précédente
                data: previousYearData,
                color: '#fb5151'
            }],
            chart: {
                height: 350,
                type: 'area',
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth',
            },
            xaxis: {
                type: 'month',
                categories: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
            },
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();


        var options = {
            series: [{
            name: 'Revenus',
            data: [31, 40, 28, 51, 42, 109, 100, 20, 90, 18, 14, 20],
            color: '#fb5151'
          }],
            chart: {
            height: 350,
            type: 'area'
          },
          dataLabels: {
            enabled: false
          },
          stroke: {
            curve: 'smooth'
          },
          xaxis: {
            type: 'mounth',
            categories: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aôut', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
          },
          
          };
        
        var chart = new ApexCharts(document.querySelector("#chart-an"), options);
          chart.render();

        var options = {
            series: [{
            name: 'Revenus',
            data: [110, 32, 45, 32, 34, 52, 41],
            color: 'green'
          }],
            chart: {
            height: 350,
            type: 'area'
          },
          dataLabels: {
            enabled: false
          },
          stroke: {
            curve: 'smooth'
          },
          xaxis: {
            type: 'mounth',
            categories: ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche']
          },
          
          };
        
        var chart = new ApexCharts(document.querySelector("#chart-jrs"), options);
          chart.render();
        
          function updateTraffic() {
            fetch('/api/today-traffic/')
                .then(response => response.json())
                .then(data => {
                    const trafficElement = document.getElementById('odometer');
                    trafficElement.innerText = data.traffic.toString().padStart(6, '0');
                })
                .catch(error => console.error('Erreur lors de la récupération des trafics:', error));
        }
    </script>

</body>
</html>