{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galsen</title>

    <!-- Box Icone -->
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/categorie.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/theme.css' %}">
</head>
<body>

    <section>
        <form action="{% url 'boutique' %}" method="get" class="search-product">
            <div class="form-search">
                <input type="search" name="boutique" id="search-input" placeholder="Rechercher une produit"/>
                <button type="submit" class="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </section>

    <section class="banner">
        <a href="#" class="slider-boutique">
            <img src="{% static 'assets/default/banner.png' %}">
        </a>

        <a href="#" class="slider-boutique">
            <img src="{% static 'assets/default/banner3.jpeg' %}">
        </a>

        <a href="#" class="slider-boutique">
            <img src="{% static 'assets/default/banner4.jpeg' %}">
        </a>

        <a href="#" class="slider-boutique">
            <img src="{% static 'assets/default/banner5.jpg' %}">
        </a>


        <div class="lines-boutique PageLinesBoutique">
            <div class="line-boutique" onclick="currentSlideP(1)"></div>
    
            <div class="line-boutique" onclick="currentSlideP(2)"></div>
    
            <div class="line-boutique" onclick="currentSlide(3)"></div>
    
            <div class="line-boutique" onclick="currentSlide(4)"></div>
        </div>
    </section>

    <section class="boutique">
        {% include 'PUB/partenaire.html' %}
        <h1>Produits de la catégorie : {{ category }}</h1>
        {% include 'PUB/sponsor.html' %}
        <div class="products-grid">
            {% for produit in produits %}
                <div class="product-card">
                    <div class="img-product">
                        <img src="{% if produit.mediasproduct_set.first %}{{ produit.mediasproduct_set.first.image.url }}{% else %}{% static 'assets/default/default-image.jpg' %}{% endif %}">
                        <ul class="action">
                            <li> 
                                <a href="{% url 'product_detail' produit.id %}">
                                    <i class="fa fa-eye"></i>
                                    <span>Consulter le Produit</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3>{{ produit.nom_produit }}</h3>
                        </div>
                        <div class="product-price_rating">
                            <h2>{{ produit.prix }} {{ produit.boutique.devise_money }}</h2>
                            <div class="rating">
                                <h3>1 000 <i class="fa fa-star"></i></h3>
                            </div>
                        </div>
                        <a href="{% url 'product_detail' produit.id %}" class="link-product">
                            <b>Consulter</b>
                        </a>
                    </div>
                </div>
            {% empty %}
                <center>
                    <p class="success">Aucun produit trouvé dans cette catégorie.</p>
                </center>
            {% endfor %}
        </div>
    </section>
    
    {% include 'pages/common/footer.html' %}
    
    <script src="{% static 'assets/ressources/scripts/theme.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/category.js' %}"></script>
    <!-- <script src="{% static 'assets/algos/scripts/secrete.js' %}"></script> -->
</body>
</html>