@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


:root
{
      /*========== Colors ==========*/

  --first-color: #3b3bbf;
  --title-color: #363949;
  --text-color: #0a0a0a;
  --text-color-light: #9b9bb0;
  --container-color: #fff;
  --body-color: #f6f6f9;
  --color-danger: hsl(0, 95%, 65%);

  --color-primary-light: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
  --color-danger-light: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
  --color-success-light: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
  --color-purple-light: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);

    /* Tailles */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem
    
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.primary
{
    color: #299bd5;
}

.bg
{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    width: 99%;
    max-width: 600px;
    background: rgba(96, 96, 96, 0.551);
    backdrop-filter: blur(10px) saturate(180%);
    border-radius: 8px;
    border: 1px solid #299bd5;
    overflow: hidden;
}

header {
    background-color: #299bd5;
    color: #fff;
    padding: 16px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.param 
{
    max-width: 600px;
    border: 1px solid #299bd5;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
  
.param-title 
{
    margin: 15px;
    color: var(--title-color);
}
  
.param-toggle 
{
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 20px;
}
  
.param-icon 
{
    transition: transform 0.5s ease;
    color: var(--title-color);
}
  
.setting
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    line-height: 24px;
    margin: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
}

.setting span
{
    color: var(--title-color);
}
  
.param.active .setting
{
    max-height: 300px;
}

.btn 
{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    background: #299bd5;
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s;
}

.btn:hover 
{
    background: var(--color-danger);
    transform: scale(1.05);
}

.param.active .param-icon 
{
    transform: rotate(180deg);
}

.btn_param
{
    padding: 10px;
}

.btn_param .delete
{
    border: none;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-danger);
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s;
    border-radius: 5px;
    padding: 10px;
}

.btn_param .delete:hover
{
    background: var(--color-danger);
    transform: scale(1.05);
}

.input-group
{
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: baseline;
}

.input-group input
{
    position: relative;
    width: 100%;
    padding: 1rem 0;
    margin-top: .5rem;
    margin-left: 5px;
    border: none;
    outline: none;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    background: transparent;
}

.input-group input::placeholder
{
    color: rgba(210, 210, 210, 0.493);
    background: transparent;
}

.input-group > .icone
{
    width: 20px;
    font-size: 2rem;
    margin-right: 1rem;
    color: #299bd5;
}

.input-group > .right
{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

div.input-group .bar
{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
    height: 1px;
}

div.input-group .bar::before
{
    content: '';
    position: absolute;
    background-color: #299bd5;
    width: 0;
    height: 2px;
    transition: width 650ms;
}

div.input-group input:focus + .bar::before
{
    width: 100%;
}

.input-group .custom_select
{
    position: relative;
    width: 100%;
    height: 37px;
}

.input-group .custom_select select
{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
}

.input-group .custom_select select option[value="admin"]
{
    display: none;
}