@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root
{
      /*========== Colors ==========*/

  --first-color: #3b3bbf;
  --title-color: #363949;
  --text-color: #0a0a0a;
  --text-color-light: #9b9bb0;
  --container-color: #fff;
  --body-color: #f6f6f9;
  --color-danger: hsl(0, 95%, 65%);

  --color-primary-light: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
  --color-danger-light: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
  --color-success-light: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
  --color-purple-light: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);

    /* Tailles */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem
    
}



*, *::before, *::after
{

    padding: 0;
    outline: 0;
    box-sizing: border-box;
    border: none;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    appearance: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body 
{
    padding: 16px 16px 0;
    margin: 56px 0 0 0;
    font-size: 16px;
    color: var(--title-color);
    background: var(--body-color);
}

/* Slider */
.slider
{
    width: 67.5%;
    height: 400px;
    /* margin-top: 15px; */
}

.members
{
    width: 1000px;
}

.sliderP a img
{
    width: 100%;
    height: 400px;
    object-fit: fill;
}

.lines
{
    position: absolute;
    display: flex;
    margin-top: -20px;
}

.PageLines
{
    position: absolute;
    left: 45%;
}

.line_P
{
    padding: 1.5px 10px;
    margin: 0 3px;
    background-color: var(--title-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.activeP, 
.line_P:hover
{
    background-color: #2364f0;
}

.sliderP
{
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade 
{
    from
    {
        opacity: 0.5;
    }
    to
    {
        opacity: 1;
    } 
}


@media screen and (max-width: 767px) {
    .slider
    {
        width: 100%;
        height: 200px;
        margin-top: 57px;
        position: relative;
    }

    .sliderP a img
    {
        width: 100%;
        height: 200px;
        object-fit: fill;
    }

    .PageLines
    {
        margin-top: -15px;
        font-size: 20px;
        left: 38%;
        display: flex;
    }
}

