/*========== Variables Dark theme ==========*/

body.dark-theme 
{
    /* Couleurs principales ultra douces - proche du clair */
    --color-white:  #1e1e1e;
    --color-black: #FFFFFF;
    --color-gray-light: #616161;
    --background-color: #050505d4;
}

