{% extends 'formulaires/layouts/base.html' %}

{% block Base %}
{% load static %}
<img src="{% static 'assets/logo/school.png' %}" class="bg">
<form method="post" action="{% url 'update_cv_experience' experience.id %}">
    {% csrf_token %}

    <header>
        <a href="#" id="boutonRetour">
            <i class="fa fa-arrow-left arrow"></i>
        </a>
        Mettre à jours votre Expériences
    </header>
    <br>

    <div class="card">
        <div class="input-group">
            <i class="fa fa-edit"></i>
            <input id="title" type="text" class="form-control" name="title" required autocomplete="name" value="{{ user.experience.title }}" placeholder="Le Titre de votre experience">
            <span class="bar"></span>
        </div>
    </div>

    <textarea name="description" id="description" cols="30" rows="10" class="texta" required>{{ user.experience.description|safe }}</textarea>

    <script src="{% static 'assets/ckeditor/ckeditor.js' %}"></script>
    <script>
        CKEDITOR.replace("description");
    </script>

    <div>
        <button type="submit"> Mettre à jour </button>
    </div>
</form>
{% endblock %}
