{% extends 'formulaires/layouts/base.html' %}

{% block Base %}
{% load static %}
<form method="post" action="{% url 'job' %}" enctype="multipart/form-data" class="enterprise-form">
    {% csrf_token %}

    <h2>Créer un Offre</h2>


    <div class="form-group">
        <label for="tag_post"><i class="fa fa-tag"></i> Le titre de votre offre </label>
        <input type="text" id="title" name="title" placeholder="Le titre de votre offre">
    </div>

    <div class="form-group">
        <label for="contenu_job"><i class="fa fa-pencil"></i> Contenu de votre offre</label>
        <textarea id="contenu_job" name="contenu_job"></textarea>
    </div>

    <script src="{% static 'assets/ckeditor/ckeditor.js' %}"></script>
    <script>
        CKEDITOR.replace("contenu_job");
    </script>

    <button type="submit">Publier</button>

</form>
{% endblock %}