{% extends 'formulaires/layouts/base.html' %}

{% block Base %}
{% load static %}
<form method="post" action="{% url 'post' %}" enctype="multipart/form-data" id="mediaForm" class="enterprise-form">
    {% csrf_token %}

    <h2>Créer un Post</h2>

    <!-- Champ Image -->
    <div class="form-group">
        <label for="image"><i class="fa fa-image"></i> Image</label>
        <input type="file" id="image" name="image" accept="image/*" multiple>
        <div class="image-preview" id="imagePreview">
            <p>Aucune image sélectionnée</p>
        </div>
    </div>

    <!-- Champ Vidéo -->
    <div class="form-group">
        <label for="video"><i class="fa fa-video-camera"></i> Vidéo</label>
        <input type="file" id="video" name="video" accept="video/*">
        <div class="video-preview" id="videoPreview">
            <p>Aucune vidéo sélectionnée</p>
        </div>
    </div>

    <!-- Contenu du post avec CKEditor -->
    <div class="form-group">
        <label for="contenu_post"><i class="fa fa-pencil"></i> Contenu du Post</label>
        <textarea id="contenu_post" name="contenu_post"></textarea>
    </div>

    <!-- Tags -->
    <div class="form-group">
        <label for="tag_post"><i class="fa fa-tag"></i> Tags</label>
        <input type="text" id="tag_post" name="tag_post" placeholder="Entrez des tags séparés par des virgules">
    </div>

    <script src="{% static 'assets/ckeditor/ckeditor.js' %}"></script>
    <script>
        CKEDITOR.replace("contenu_post");
    </script>

    <button type="submit">Publier</button>

</form>
{% endblock %}
