{% load static %}
<section>
    <form action="" class="search">
        <div class="form-group">
            <input type="search" name="personnel" id="search-input" placeholder="Rechercher un métier"/>
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>
    
</section>

<section class="slider pubPolitique">
    <div class="sliderP">
        <a href="#">
            <img src="{% static 'assets/default/banner.png' %}">
        </a>
    </div>

    <div class="sliderP">
        <a href="#">
            <img src="{% static 'assets/default/banner3.jpeg' %}">
        </a>
    </div>

    <div class="sliderP">
        <a href="#">
            <img src="{% static 'assets/default/banner4.jpeg' %}">
        </a>
    </div>

    <div class="sliderP">
        <a href="#">
            <img src="{% static 'assets/default/banner5.jpg' %}">
        </a>
    </div>

    <div class="prev-button" onclick="plusSlideP(-1)">&#10094;</div>
    <div class="next-button" onclick="plusSlideP(1)">&#10095;</div>

    <div class="lines PageLines">
        <div class="line_P" onclick="currentSlideP(1)"></div>

        <div class="line_P" onclick="currentSlideP(2)"></div>

        <div class="line_P" onclick="currentSlide(3)"></div>

        <div class="line_P" onclick="currentSlide(4)"></div>
    </div>
</section>


    {% if query %}
        <section class="posts">
            <center><p>{{ result_count }} résultat(s) trouvé(s) pour "{{ query }}"</p></center> 
        </section>
    {% endif %}


<section class="posts professionnals">
    
    {% for CustomUser in CustomUsers %}
        <a href="{% url 'personnel_details' pk=CustomUser.id %}" class="users">
            {% if CustomUser.banner_image and CustomUser.banner_image.url %}
                <img src="{{ CustomUser.banner_image.url }}" class="couverture">
            {% else %}
                <img src="{% static 'assets/default/user.png' %}" class="couverture">
            {% endif %}
            <div class="user_profile">
                {% if CustomUser.profile_image and CustomUser.profile_image.url %}
                    <img src="{{ CustomUser.profile_image.url }}">
                {% else %}
                    <img src="{% static 'assets/default/user.png' %}">
                {% endif %}
                <h3 class="name">{{ CustomUser.first_name }} {{ CustomUser.last_name }}</h3>
                <h5 class="primary">{{ CustomUser.metier }}</h5>
                <ul>
                    <li>{{ CustomUser.pays }} ({{ CustomUser.ville }}) <span class="fa fa-map-marker primary"></span></li>
                    <li>{{ CustomUser.quartier }} <span class="fa fa-home primary"></span></li>
                    <li>{{ CustomUser.email }} <span class="fa fa-envelope primary"></span></li>
                    <li>+{{ CustomUser.indicatif_pays }} {{ CustomUser.number_phone }} <span class="fa fa-phone primary"></span></li>
                    <br>
                    <li>Inscrit(e) le {{ CustomUser.date_joined|date:"d F Y à H:i" }} <span class="fa fa-clock-o danger"></span></li>
                </ul>
            </div>
        </a>
    {% endfor %}
</section>