{% load static %}
<section>
    {% if postulants %}
    {% for job, postulants in postulants.items %}
        {% for postulant in postulants %}
            <a href="{% url 'user_detail' pk=postulant.id %}" class="user-card">
                <div class="user-card-img">
                    <img src="{% static 'assets/categories/postule.png' %}">
                </div>
                <p> De votre offre, <i> {{ job.title }} </i>
                    <br> <span> <b> {{ postulant.first_name }} {{ postulant.last_name }} </b> a postulé à cette offre </sapn> 
                </p>
            </a>
        {% endfor %}
    {% endfor %}
    {% else %}
            <center>
                <p class="success">
                    Aucun postulant.
                </p>
            </center>
    {% endif %} 
</section>