@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


:root
{
      /*========== Colors ==========*/
  --hue-color: 240;

  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 1%, 4%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --container-color: var(--title-color);
  --body-color: hsl(var(--hue-color), 24%, 94%);
  --color-danger: hsl(0, 95%, 65%);

  --color-primary-light: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
  --color-danger-light: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
  --color-success-light: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
  --color-purple-light: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);

    /* Tailles */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem
    
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body::-webkit-scrollbar
{
    width: 7px;
}

body::-webkit-scrollbar-track
{
    background: var(--body-color);
    border-radius: 25px;
}

body::-webkit-scrollbar-thumb
{
    background: var(--title-color);
    border-radius: 25px;
}

body::-webkit-scrollbar-thumb:hover
{
    background: #b3b3b3;
}

h1
{
    font-size: 2.2rem;
}

h2
{
    font-size: 1.5rem;
}

h3
{
    font-size: 1.2rem;
}

h4
{
    font-size: 1rem;
}

h5
{
    font-size: 0.86rem;
    font-weight: 500;
}

h6
{
    font-size: 1.76rem;
}

p
{
    font-size: 00.86rem;
    color: var(--title-color);
}

small
{
    font-weight: 300;
    font-size: 0.77rem;
}

.text-muted
{
    color: gray;
}

.blanc
{
    color: var(--title-color);
}

.primary
{
    color: #299bd5;
    /* rgb(71, 7, 234) */
}

.danger
{
    color: var(--color-danger);
}

.success
{
    color: rgb(34, 202, 75);
}

.purple
{
    color: rgb(160, 99, 245);
}

.bg-primary
{
    background: #299bd5;
    /* rgb(71, 7, 234) */
    box-shadow: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
}

.bg-danger
{
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
}

.bg-success
{
    background: rgb(34, 202, 75);
    box-shadow: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
}

.bg-purple
{
    background: rgb(160, 99, 245);
    box-shadow: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);
}

.bg-dark
{
    background: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}

.normal
{
    color: var(--body-color);
}

.bg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--body-color);
    transition: 0.5s;
}

.bg::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.corp_du_site
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.corp_du_site header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.corp_du_site header .logo
{
    position: relative;
    font-weight: 600;
    color: var(--title-color);
    text-decoration: none;
    font-size: 2em;
}

.corp_du_site header .navigation
{
    position: relative;
    display: flex;
}

.corp_du_site header .navigation li
{
    list-style: none;
}

.corp_du_site header .navigation li a 
{
    display: inline-block;
    color: var(--title-color);
    font-weight: 400;
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 40px;
    text-decoration: none;
}

.corp_du_site header .navigation li a.active,
.corp_du_site header .navigation li a:hover
{
    background: #299bd5;
    color: #fff;
}

.corp_du_site .content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corp_du_site .content .textBox
{
    position: relative;
    max-width: 600px;
}

.corp_du_site .content .textBox h2
{
    color: var(--title-color);
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 700;
}

.corp_du_site .content .textBox p
{
    color: var(--title-color);
    margin-top: 20px;
}

.corp_du_site .content .textBox .Learn
{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #299bd5;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    cursor: pointer;
}

.corp_du_site .content .textBox .Learn:hover
{
    background: var(--color-danger);
}

.corp_du_site .content .textBox .Learn:active
{
    transform: scale(0.96);
}

.corp_du_site .content .textBox .Learn::before,
.corp_du_site .content .textBox .Learn::after
{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 150%;
    background-repeat: no-repeat;
    z-index: -1;
}

.corp_du_site .content .textBox .Learn.animate::before
{
    top: -70%;
    background-image: radial-gradient(circle, var(--color-danger) 20%, transparent 20%),
                    radial-gradient(circle, transparent 20%, var(--color-danger) 20%, transparent 30%),
                    radial-gradient(circle, var(--color-danger) 20%, transparent 20%),
                    radial-gradient(circle, transparent 10%, var(--color-danger) 15%, transparent 20%),
                    radial-gradient(circle, var(--color-danger) 20%, transparent 20%),
                    radial-gradient(circle, var(--color-danger) 20%, transparent 20%),
                    radial-gradient(circle, var(--color-danger) 20%, transparent 20%),
                    radial-gradient(circle, var(--color-danger) 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 18% 18%;
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    animation: topBubbles 0.6s ease-in-out infinite;
}

@keyframes topBubbles
{
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.corp_du_site .content .textBox .Learn.animate::after
{
    bottom: 70%;
    background-image: radial-gradient(circle, var(--color-danger) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--color-danger) 15%, transparent 20%),
    radial-gradient(circle, var(--color-danger) 20%, transparent 20%),
    radial-gradient(circle, var(--color-danger) 20%, transparent 20%),
    radial-gradient(circle, var(--color-danger) 20%, transparent 20%),
    radial-gradient(circle, var(--color-danger) 20%, transparent 20%),
    radial-gradient(circle, var(--color-danger) 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 10% 0%, 30% 10%, 55% 0%, 70% 0%, 85% 0%, 70% 0%, 70% 0%;
    animation: bottomBubbles 0.6s ease-in-out infinite;
}

@keyframes bottombubbles {
    50% {
        background-position: 0 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.corp_du_site .content .imgBox
{
    position: relative;
    z-index: 1;
    width: 600px;
    display: flex;
    justify-content: flex-end;
}

.corp_du_site .content .imgBox img
{
    max-width: 400px;
}

.thumb
{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.5s;
    height: 70px;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.25);
}

.thumb li.active
{
    border: 2px solid rgba(255, 255, 255, 1);
}

.thumb li::before
{
    position: absolute;
    top: -200px;
    left: -100px;
    content: attr(data-text);
    white-space: nowrap;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    font-weight: 700;
    pointer-events: none;
}

.thumb li.active::before
{
    opacity: 1;
}

.thumb li img
{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.sci
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li
{
    list-style: none;
}

.sci li a
{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    /* filter: invert(1); */
    color: var(--title-color);
}

.sci li a i
{
    font-size: 50px;
}

.valide-commande
{
    display: none;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.valide-commande .close_views 
{
    position: absolute;
    top: 8px;
    right: 30px;
    color: #fff;
    filter: drop-shadow(5px 0 15px #299bd5);
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 100;
}

.valide-commande .content-commande
{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-commande header
{
    position: fixed;
    top: 0;
    width: 100%;
    background: #299bd5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-commande header h3
{
    color: #fff;
}

div .commander
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    padding: 0.2rem 5rem;
    border-radius: 5px;
    background: #299bd5;
    border: none;
    color: var(--title-color);
    font-size: 2.5rem;
    cursor: pointer;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25),
                inset 2px 2px 5px rgba(255, 255, 255, 0.778),
                inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

div .commander:hover
{
    opacity: 0.8;
    transition: 0.3s;
    content: '';
    background: var(--color-danger);
    color: #fff;
    font-weight: bold;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25),
                inset 2px 2px 5px rgba(255, 255, 255, 0.778),
                inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

div .commander:active
{
    transform: translateY(5px);
}

/* Responsive */
@media (max-width: 991px)
{
    .bg::before
    {
        display: none;
    }

    .corp_du_site header
    {
        padding: 20px;
    }

    .corp_du_site
    {
        padding: 20px;
        padding-bottom: 120px;
    }

    .corp_du_site .content
    {
        margin-top: 100px;
        flex-direction: column;
    }

    .corp_du_site .content .textBox
    {
        max-width: 100%;
    }

    .corp_du_site .content .textBox h2
    {
        font-size: 2.5em;
        margin-bottom: 15px;
    }

    .corp_du_site .content .textBox p
    {
        max-width: 90%;
    }

    .corp_du_site .content .imgBox
    {
        max-width: 100%;
        justify-content: center;
    }

    .corp_du_site .content .imgBox img
    {
        max-width: 300px;
        /* max-width: 178px; */
    }

    .thumb li
    {
        margin: 0 3px;
        height: 55px;
    }

    .thumb li img
    {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    .thumb li::before
    {
        position: absolute;
        top: -150px;
        left: 0;
        font-size: 6em;
    }

    .sci
    {
        background: rgba(0, 0, 0, 0.20);
        right: 0px;
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        z-index: 1000;
    }

    .precise
    {
        margin-top: 45px;
    }
}