@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* Variable CSS */
:root
{
    --header-height: 3rem;

    

    /* font and typography */
    --body-font: 'Open Sans', sans-serif;

    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .625rem;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

:root
{
      /*========== Colors ==========*/

  --first-color: #3b3bbf;
  --title-color: #363949;
  --text-color: #0a0a0a;
  --text-color-light: #9b9bb0;
  --container-color: #fff;
  --body-color: #f6f6f9;
  --color-danger: hsl(0, 95%, 65%);

  --color-primary-light: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
  --color-danger-light: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
  --color-success-light: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
  --color-purple-light: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);

    /* Tailles */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem
    
}



/* ========== Les Base =========== */
*, *::before, *::after
{

    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }


html
{
    scroll-behavior: smooth;
}

body
{
    font-family: "Poppins", sans-serif;
    color: var(--title-color);
    background: var(--body-color);
    overflow-x: hidden;
}

body::-webkit-scrollbar
{
    width: 7px;
}

body::-webkit-scrollbar-track
{
    background: var(--body-color);
    border-radius: 25px;
}

body::-webkit-scrollbar-thumb
{
    background: var(--title-color);
    border-radius: 25px;
}

body::-webkit-scrollbar-thumb:hover
{
    background: #b3b3b3;
}

h1
{
    font-size: 2.2rem;
}

h2
{
    font-size: 1.5rem;
}

h3
{
    font-size: 1.2rem;
}

h4
{
    font-size: 1rem;
}

h5
{
    font-size: 0.86rem;
    font-weight: 500;
}

h6
{
    font-size: 1.76rem;
}

p
{
    font-size: 00.86rem;
    color: var(--title-color);
}

small
{
    font-weight: 300;
    font-size: 0.77rem;
}

.text-muted
{
    color: gray;
}

.blanc
{
    color: var(--title-color);
}

.primary
{
    color: #299bd5;
    /* rgb(71, 7, 234) */
}

.danger
{
    color: var(--color-danger);
}

.success
{
    color: rgb(34, 202, 75);
}

.purple
{
    color: rgb(160, 99, 245);
}

.bg-primary
{
    background: #299bd5;
    /* rgb(71, 7, 234) */
    box-shadow: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
}

.bg-danger
{
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
}

.bg-success
{
    background: rgb(34, 202, 75);
    box-shadow: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
}

.bg-purple
{
    background: rgb(160, 99, 245);
    box-shadow: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);
}

.bg-dark
{
    background: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}

.normal
{
    color: var(--body-color);
}

/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: Arial, sans-serif;
    background-color: var(--body-color);
}

.profile-container 
{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: var(--body-color);
    border-radius: 8px;
    overflow: hidden;
}

/* Profile Banner */
.banner img, .banner-job img 
{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* Profile Section */
.profile-section 
{
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
}

.profile-pic 
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--body-color);
    position: absolute;
    top: -75px;
    left: 20px;
}

.profile-pic img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info 
{
    margin-left: 150px;
}

.profile-info h1 
{
    font-size: 24px;
    color: var(--title-color);
}

.profile-info p 
{
    color: var(--text-color-light);
}

/* Profile Navigation */
.profile-nav 
{
    border-top: 1px solid var(--text-color-light);
    border-bottom: 1px solid var(--text-color-light);
    background-color: var(--body-color);
}

.profile-nav ul 
{
    display: flex;
    list-style-type: none;
    padding: 10px 0;
    justify-content: space-around;
}

.profile-nav ul li a 
{
    display: grid;
    text-align: center;
    text-decoration: none;
    color: #299bd5;
    font-weight: bold;
}

.profile-nav ul li a:hover 
{
    color: #299bd5;
}

.buttons-1
{
    margin: 15px 0;
    display: flex;
    list-style-type: none;
    padding: 15px 0;
    justify-content: space-around;
}

.buttons-1 .button
{
    padding: 10px 17px;
    font-size: 17px;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    background: #299bd5;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    transition: all 0.1s;
}

.buttons-1 .button:hover
{
    transform: scale(0.98);
    background: var(--color-danger);
}

.status
{ 
    border-bottom: 1px solid var(--text-color-light);
}

.status li, .status li a
{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 10px 0;
}

.status li a
{
    transition: all 0.1s;
}

.status li a:hover
{
    transform: scale(0.98);
    background: var(--color-danger);
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
}

.status li i
{
    width: 30px;
    font-size: 20px;
    margin-left: 5px;
}

.status li p
{
    margin-left: 5px;
    color: var(--title-color);
}
  