{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="images/jpg" rel="icon" href="{% static 'assets/logo/galsen.jpg' %}">
    
    <title> GALSEN </title>

    <!-- Box Icone -->
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/details_like.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/theme.css' %}">

    <title>Vos Postulants</title>
</head>
<body>

    
<img src="{% static 'assets/logo/school.png' %}" class="bg">
    <section class="listes">
        <header>
            <a href="#" id="boutonRetour">
                <i class="fa fa-arrow-left arrow"></i>
            </a>
            Liste de vos Postulants
        </header>

        <div class="temoin">
            <br>
            <hr class="divider">
        </div>

        {% include 'common/postulants.html' %}
        
    </section>

    
    <script src="{% static 'assets/algos/scripts/secrete.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/Retour.js' %}"></script>
</body>
</html>
