{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALSEN</title>

    <link type="images/jpg" rel="icon" href="{% static 'assets/logo/sunprice.png' %}">

    <!-- Box Icone -->
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/profil.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/contenu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/boutique-slide.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/theme.css' %}">

</head>
<body>

    <div class="profile-container">
        <!-- Profile Banner -->
        <div class="banner-job">
            {% if job.user.banner_image and job.user.banner_image.url %}
                    <img src="{{ job.user.banner_image.url }}">
                {% else %}
                    <img src="{% static 'assets/default/user.png' %}">
            {% endif %}
        </div>
    
        <!-- Profile Section -->
        <div class="profile-section">
            <div class="profile-pic">
                    {% if job.user.profil_image and job.user.profil_image.url %}
                        <img src="{{ job.user.profil_image.url }}">
                        {% else %}
                            <img src="{% static 'assets/default/user.png' %}">
                    {% endif %}
            </div>

            <div class="profile-info">
                <h1>
                    {% if job.user.rôle == "personnel" %}
                        {{ job.user.first_name }} {{ job.user.last_name }}
                    {% else %}
                        {{ job.user.etablissement }}
                    {% endif %}
                </h1>
                <p>{{ job.user.email }}</p>
            </div>
        </div>
    
        <!-- Navigation Links -->
        <div class="profile-nav">
          <ul>
            <li><a href="#"><span>{{ job.user.following_users.count }}</span>Abonnements</a></li>
            <li><a href="#"><span>{{ job.user.followers.count }}</span>Abonnés</a></li>
            <li><a href="#"><span>{{ job.user.total_likes_received }}</span>Aimes</a></li>
          </ul>
        </div>
    
        <!-- Profile Content -->
        <div class="profile-content">
            <div class="buttons-1">
                <a href="#"> <i class="fa fa-user-plus"></i> Suivre </a>
                <a href="{% url 'a_propos_detail' user_id=job.id %}"> <i class="fa fa-list-alt"></i> A Propos </a>
                <a href="#"> <i class="fa fa-cogs"></i></a>
            </div>

            <ul class="status">
                <li>
                    {% if job.user.genre == "homme" %}
                        <i class="fa fa-male primary"></i>
                        <p>Je suis un
                            <span>{{ job.user.genre }}</span> 
                        </p>
                    {% elif user.genre == "femme" %}
                        <i class="fa fa-female primary"></i>
                        <p>Je suis une
                            <span>{{ job.user.genre }}</span> 
                        </p>
                    {% else %}
                        <p>Genre non spécifié</p>
                    {% endif %}
                </li>

                <li>
                    <i class="fa fa-home primary"></i>
                    <p>J'habites au(x) 
                        <span>{{ user.pays }}</span> dans la ville de 
                        <span>{{ user.ville }}</span> au quartier 
                        <span>{{ user.quartier }}</span> 
                     </p>
                </li>

                <li>
                    <i class="fa fa-transgender primary"></i>
                    <p>Je suis 
                        <span>{{ job.user.situation_matrimoniale }}</span> 
                     </p>
                </li>

                
                {% if job.user.rôle == "personnel" %}
                        <li>
                            <i class="fa fa-briefcase primary"></i>
                            <p>J'ai comme métier:
                                <span>{{ job.user.metier }}</span> 
                            </p>
                        </li>
                    {% else %}

                {% endif %}

                <li>
                    <a href="#">
                        <i class="fa fa-whatsapp primary"></i>
                        <p>Mon numéro whatsapp est: 
                            <span>+{{ job.user.indicatif_pays }} {{ job.user.number_phone }}</span> 
                        </p>
                    </a>
                </li>
            </ul>

            <div class="job-content">
                <div class="job-infos-date">
                    <h4>
                        <span> <i class="fa fa-calendar primary"></i> L'offre est postée le, {{ job.date_creation_post|date:"d F Y à H:i" }} </span>
                <div class="job-title">
                    <h1>
                        {{ job.title|safe }}
                    </h1>
                </div>
                <div class="job-description">
                    <p>
                        {{ job.contenu_job|safe }}

                    </p>
                </div>
                <div class="job-buttons">
                    <form id="postule-form-{{ job.pk }}" method="POST" action="{% url 'postule' job.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="postuler" type="submit">
                            {% if request.user in job.postule_job.all %}
                                Ne plus postuler
                            {% else %}
                                Postuler
                            {% endif %}
                            <b class="number-like danger">{{ job.postule_job.count }}</b>
                        </button>
                    </form>
                    <button> <i class="fa fa-share-alt"></i> </button>
                </div>
            </div>

            {% include 'PUB/partenaire.html' %}
        </div>
          
      </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'assets/ressources/scripts/sidebar-right.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/theme.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/profil.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/post.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/lightbox-plus-jquery.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'assets/algos/scripts/secrete.js' %}"></script>

</body>
</html>