{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="images/jpg" rel="icon" href="{% static 'assets/logo/galsen.jpg' %}">
    
    <title> GALSEN </title>

    <!-- Box Icone -->
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/product_details.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/sidebar-right.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/theme.css' %}">

</head>
<body>

    <header>
        <nav>
            <div class="infos-vendeur">
                {% if produit.boutique.profile_image and produit.boutique.profile_image.url %}
                    <img src="{{ produit.boutique.photo_profil.url }}">
                {% else %}
                    <img src="{% static 'assets/default/user.png' %}">
                {% endif %}
                <span> {{ produit.boutique.nom_boutique }} </span>
            </div>

            <div class="follow-boutique">
                <i class="fa fa-list-alt"></i>
            </div>
        </nav>
    </header>

    <section class="content">
        <div class="content-products">
            <div class="product-images">
                <img src="{{ produit.mediasproduct_set.first.image.url }}">
            </div>
            <div class="product-infos">
                <h1 class="title">
                    {{ produit.nom_produit }}
                </h1>
                <h3 class="price">
                    {{ produit.prix }} {{ produit.boutique.devise_money }}
                </h3>
                <b class="date text-muteds"> Mis en vente le, {{ produit.date_creation|date:"d F Y à H:i" }} </b>
            </div>

            <div class="description">
                <h1>Description</h1>
                <p>{{ produit.description|safe }}</p>
            </div>

            <h1>Autres Images du produit</h1>
            <div class="product-grid autre-image">
                {% for media in produit.mediasproduct_set.all %}
                    {% if media.image %}
                            {% if media.image and media.image.url %}
                                <a href="{{ media.image.url }}"  data-lightbox="mygallery">
                                    <img src="{{ media.image.url }}">
                                </a>
                            {% endif %}
                        {% else %}
                        <center>
                            <p class="success">Aucun produits similaires</p>
                        </center>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="facture">
                <center>
                        {% if user.is_authenticated %}
                            {% if is_in_facture %}
                                <!-- Afficher le bouton pour enlever le produit de la facture -->
                                <form method="POST" action="{% url 'product_detail' product_id=produit.id %}">
                                    {% csrf_token %}
                                    <button type="submit" name="remove"> <i class="fa fa-list-alt"></i> Enlever de la Facture</button>
                                </form>
                            {% else %}
                                <!-- Afficher le bouton pour ajouter le produit à la facture -->
                                <form method="POST" action="{% url 'product_detail' product_id=produit.id %}">
                                    {% csrf_token %}
                                    <label for="quantity">Quantité :</label>
                                    <input type="number" id="quantity" name="quantity" value="1" min="1" required>
                                    <button type="submit"> <i class="fa fa-list-alt"></i> Ajouter au Facture</button>
                                </form>
                            {% endif %}
                        {% else %}
                            <p>Veuillez vous connecter pour gérer votre facture.</p>
                        {% endif %}
                </center>
            </div>
                
            <div class="buttons">
                {% if In_commande %}
                    <p>Produit déjà à votre commande</p>
                {% else %}
                    <a onclick="openPopup()"> 
                        <i class="fa fa-shopping-bag"></i> Commander 
                    </a>
                {% endif %}
                <a href="{% url 'boutique_detail' produit.boutique.id %}"> 
                    <i class="fa fa-shopping-cart"></i> Visiter la boutique 
                </a>
            </div>

            <div class="popup-commande">
                <span class="close" onclick="closePopup()">&times;</span>

                <header>
                    <h3>
                        Confirmer votre Commande!
                    </h3>
                </header>

                <form class="precise" method="post" action="{% url 'produit_commande' produit_id=produit.pk %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="commande" value="a commander ce produit." readonly Style="display: none;">

                    <textarea name="precision" id="" cols="30" rows="10"></textarea>

                    <script src="{% static 'assets/ckeditor/ckeditor.js' %}"></script>
                    <script>
                        CKEDITOR.replace("precision");
                    </script>

                    <div>
                        <button class="commander" type="submit"> Valider! </button>
                    </div>
                </form>
            </div>

            <div class="similaires">
                <h1 class="title-categorie">Produits similaires dans la catégorie : {{ produit.get_category_display }}</h1>
                <div class="products-grid">
                    {% if produits_meme_categorie %}
                            {% for produits_meme_categorie in produits_meme_categorie %}
                                <div class="product-card">
                                    <div class="img-product">
                                        <img src="{{ produits_meme_categorie.mediasproduct_set.first.image.url }}">
                                        <ul class="action">
                                            <li> 
                                                <a href="{% url 'product_detail' produit.id %}">
                                                    <i class="fa fa-eye"></i>
                                                    <span>Consulter le Produit</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <div class="product-name">
                                            <h3>{{ produits_meme_categorie.nom_produit }}</h3>
                                        </div>
                                        <div class="product-price_rating">
                                            <h2>{{ produits_meme_categorie.prix }} {{ produits_meme_categorie.boutique.devise_money }}</h2>
                                            <div class="rating">
                                                <h3>1 000 <i class="fa fa-star"></i></h3>
                                            </div>
                                        </div>
                                        <a href="{% url 'product_detail' produit.id %}" class="link-product">
                                            <b>
                                                Consulter
                                            </b>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                        <center>
                            <p class="success">Aucun produits similaires</p>
                        </center>
                    {% endif %}
                </div>
            </div>
        </div>

        {% include 'pages/common/sidebar.html' %}
    </section>

    {% include 'pages/common/footer.html' %}
    
    <script src="{% static 'assets/ressources/scripts/theme.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/lightbox-plus-jquery.min.js' %}"></script>
    <!-- <script src="{% static 'assets/algos/scripts/secrete.js' %}"></script> -->

    <script>
        function openPopup(postId) {
            var popup = document.querySelector('.popup-commande');
            if (popup) {
                popup.style.display = "block";
            }
        }
        
        // Fonction pour fermer le popup
        function closePopup(postId) {
            var popup = document.querySelector('.popup-commande');
            if (popup) {
                popup.style.display = "none";
            }
        }
    </script>
</body>
</html>