{% load static %}
<section class="sidebar-right-actu">
    <div class="sidebarRight-actu">
        <div class="sidebar-profile-box">
            {% if user.banner_image and user.banner_image.url %}
                <img src="{{ user.banner_image.url }}" class="couverture">
            {% else %}
                <img src="{% static 'assets/default/user.png' %}" class="couverture">
            {% endif %}
            <div class="sidebar-profile-info">
                <div class="infos_profil">
                    {% if user.profile_image and user.profile_image.url %}
                        <img src="{{ user.profile_image.url }}">
                    {% else %}
                        <img src="{% static 'assets/default/user.png' %}">
                    {% endif %}

                    <div class="namer_profil">
                        {% if user.rôle == "personnel" %}
                            <h1> {{ user.first_name|truncatewords_html:1 }} {{ user.last_name }} </h1>
                            {% if user.metier %}
                                <h5> {{ user.metier }} </h5>
                            {% endif %}
                        {% else %}
                            {% if user.etablissement %}
                                <h1> {{ user.etablissement }} </h1>
                            {% endif %}
                            {% if user.metier %}
                                <h5> {{ user.metier }} </h5>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <ul>
                    <li>Vos Nombres d'abonnements <span class="primary">{{ user.following_users.count }}</span></li>
                    <li>Vos Nombres d'abonnés <span class="primary">{{ user.followers.count }}</span></li>
                    <li>Vos nombres de j'aimes <span class="primary">{{ user.total_likes_received }}</span></li>
                </ul>

                <div class="sidebar-share-link">
                    <input type="text" class="copy-link-input" value="http://127.0.0.1:8181{% url 'user_detail' user_id=user.id %}" readonly>
                    <button class="copy-link-button">
                        <span class="fa fa-copy"></span>
                    </button>
                </div>

            </div>
        </div>

        <hr>
        
        <div class="sidebar-profile-box follower-box">
            <h1 class="title-side danger">
                Amis (<span class="primary">{{ request.user.get_amis|length }}</span>)
            </h1>
            {% for ami in request.user.get_amis %}
                <a href="{% url 'user_detail' user_id=ami.id %}" class="amis_side">
                    <div class="amis-img">
                        {% if ami.profile_image and ami.profile_image.url %}
                            <img src="{{ ami.profile_image.url }}">
                        {% else %}
                            <img src="{% static 'assets/default/user.png' %}">
                        {% endif %}
                    </div>
                    <div class="amis-name">
                        {% if ami.rôle == "personnel" %}
                            <h3>{{ ami.first_name }} {{ ami.last_name }}</h3>
                        {% else %}
                            {% if ami.etablissement %}
                                <h3>{{ ami.etablissement }}</h3>
                            {% endif %}
                        {% endif %}
                        <i>Membre depuis {{ ami.date_joined|date:"d M Y" }}</i>
                    </div>
                </a>
            {% empty %}
                <p>Vous n'avez aucun ami pour le moment.</p>
            {% endfor %}
        </div>
        
        
    </div>
</section>