{% extends 'auth/layouts/profils.html' %}

{% load static %}

{% block inscript %}
<form class="enterprise-form" id="enterpriseForm" method="POST" action="/profil">
    {% csrf_token %}
    <h2>Votre Profil</h2>

    <div class="row">
        <div class="form-group">
            <label for="countryInput"><i class="fa fa-flag-checkered"></i> Votre Pays </label>
            <input type="text" id="countryInput" name="pays" onchange="updateIndicatif()" placeholder="Votre pays" autocomplete="off" required>
            <ul class="list"></ul>
        </div>
        <div class="form-group">
            <label for="indicatif"><i class="fa fa-flag"></i> Indicatif pays </label>
            <input type="number" id="indicatif" name="indicatif" placeholder="Votre indicatif pays">
        </div>
        <div class="form-group">
            <label for="ville"><i class="fa fa-map"></i> Ville </label>
            <input type="text" id="ville" name="ville" placeholder="Votre ville" autocomplete="off" required>
        </div>
        <div class="form-group">
            <label for="quartier"><i class="fa fa-home"></i> Quartier </label>
            <input type="text" id="quartier" name="quartier" placeholder="Votre quarier" autocomplete="off" required>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label for="number_phone"><i class="fa fa-phone"></i> Téléphone</label>
            <input type="tel" id="number_phone" name="number_phone" placeholder="Numéro de téléphone" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="number_whatsapp"><i class="fa fa-whatsapp"></i> WhatsApp</label>
            <input type="tel" id="number_whatsapp" name="number_whatsapp" placeholder="Numéro WhatsApp" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="number_telegram"><i class="fa fa-telegram"></i> Telegram</label>
            <input type="tel" id="number_telegram" name="number_telegram" placeholder="Numéro Telegram" autocomplete="off">
        </div>
    </div>

    <span class="indic success"> <i class="fa fa-warning"></i> Le prénom et le nom du directeur de l'école, vous pourriez toujours les modifier dans les paramétres.</span>
    <div class="row">
        <div class="form-group">
            <label for="firstname"><i class="fa fa-user"></i> Le Prénom du directeur de l'école</label>
            <input id="firstname" type="text" class="form-control" name="firstname" required placeholder="Le Prénom du directeur de l'école" autocomplete="off">
        </div>

        <div class="form-group">
            <label for="lastname"><i class="fa fa-user"></i> Le Nom du directeur de l'école </label>
            <input id="lastname" type="text" class="form-control" name="lastname" required placeholder="Le nom du directeur de l'école" autocomplete="off">
        </div>

        <div class="form-group">
            <label for="date"><i class="fa fa-birthday-cake"></i> Date de naissance de l'entreprise</label>
            <input type="date" name="birthday" id="date" min="1960-01-01" style="font-weight: bold;" required autocomplete="off">
        </div>
    </div>

    <button type="submit">Envoyer</button>
</form>

{% endblock %}