{% extends 'auth/layouts/forms.html' %}
{% load static %}

{% block Authentification %}
<img src="{% static 'assets/logo/school.png' %}">   
    <div id="wrapper"> 
        <div class="form-container">
            <div class="alert alert-danger">
                <h1 class="success"> Réinitialisation du mot de passe!</h1>
                <br>
                <h2 class="success">
                    Mise à jour du mot de passe terminée👍🏾!
                </h2>
                <br>
                <h3 class="white">
                    Votre mot de passe a été réinitialiser avec succés. Vous pouvez maintenant vous authentifier.
                </h3>
            </div>
            
            <div class="input-group">
                <button type="submit">
                    <a href="/" class="white">Se Connecter</a>
                </button>
            </div>
  

               
        </div> 
        
    </div>
{% endblock  %}