
{% extends 'auth/layouts/forms.html' %}
{% load static %}

{% block Authentification %}
<img src="{% static 'assets/logo/school.png' %}">  
    <div id="wrapper">
        <div class="form-container">

            <div class="alert alert-danger">
                <h1 class="success">Message de réinitialisation du mot de passe envoyé!</h1>
                <br>

                <p>
                    <b>
                        👉📩 Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, 
                        pour autant qu’un compte existe avec l’adresse que vous avez indiquée. 
                        Vous devriez recevoir rapidement ce message.
                    </b>
                    <br>
                    <br>
                    <b>
                        👉📩 Si vous ne recevez pas de message, 
                        vérifiez que vous avez saisi l’adresse avec laquelle 
                        vous vous êtes enregistré et contrôlez votre dossier de courriels.
                    </b>
                </p>
            </div>
     
        </div> 
        
    </div>
{% endblock  %}