
{% extends 'auth/layouts/forms.html' %}
{% load static %}

{% block Authentification %}

<img src="{% static 'assets/logo/school.png' %}">

    <div id="wrapper"> 
        <div class="form-container">
            <span class="form-heading">Réinitialisation </span>

                <h3 class="danger">{{ error }}</h3>

                {% for message in messages %}
                    <h2 class="danger">{{ message }}</h2>
                {% endfor %}

                <form  method='POST'>
                    {% csrf_token %}
                    <!-- {{form.as_p}} -->
                    <div class="inputfield">
                        <label><i class="fa fa-envelope"></i>Email</label>
                        {{ form.email }}
                        <span class="bar"></span>
                        <!-- {% if form.email.errors %}
                            <p class="danger">{{ form.email.errors|join:", " }}</p>
                        {% endif %} -->
                    </div>

                    <!-- Autres champs du formulaire si nécessaire -->

                    <div class="input-group">
                        <button type="submit">
                            Réinitialiser le Mot de Passe
                        </button>
                    </div>

                    <div class="switch-login">
                        <a href="/">
                            <p class="primary">Vous vous souvenez de votre mot de passe?
                                <span class="danger"> Connexion </span>
                            </p>
                        </a>
                    </div>
                </form>
           
        </div> 
        
    </div>
{% endblock  %}